

<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<meta name="renderer" content="ie-stand">
<link type="text/css" rel="stylesheet"
	href="/static/pc/templets/moban/images/jbox.css" />
<link rel="stylesheet" type="text/css"
	href="/static/pc/templets/moban/images/style.css" />
<link rel="stylesheet" type="text/css"
	href="/static/pc/templets/moban/images/home.css" />
<script src="/static/pc/templets/moban/images/jquery.js"></script>



<title>按天融资-千吉时</title>

<link href="/static/pc/templets/moban/images/new_index.css" rel="stylesheet"
	type="text/css">
</head>

<body>
	<!--头部开始-->
	<div class="header-top">
		<div class="wrapper">
			<div class="tel-num">
				欢迎来到 <span>千吉时</span>！客服热线： 400-763-8898
			</div>
			<div class="quick-link"></div>
		</div>
	</div>
	<div class="header">
		<div class="wrapper d_wrapM  clearfix">
			<div class="logo">
				<a href="index.html"><p>
						<img style="height: 75px; width: 450px; float: none; margin: 0px;"
							alt="" src="/static/pc/templets/moban/images/hnjf-web-logo.png" />
					</p></a>
			</div>

			<div class="nav clearfix" style="float: right;">



				<ul class="clearfix navigation-list" id="dw_ul">
					<li class="navigation-item "><a href="/pc/index/index"
						class="navigation-item-name">网站首页 </a>
						<div class="navigation-list-two-con" id="dw_ul2">
							<div class="navigation-list-two">
								<ul class="navigation-two-list" id="erji_nav">
								</ul>
							</div>
						</div></li>



					<li class="navigation-item "><a href="/pc/index/antianrongzi"
						class="navigation-item-name">按天融资 </a>
						<div class="navigation-list-two-con" id="dw_ul2">
							<div class="navigation-list-two">
								<ul class="navigation-two-list" id="erji_nav">
								</ul>
							</div>
						</div></li>



					<li class="navigation-item "><a href="/pc/index/anyuerongzi"
						class="navigation-item-name">按月融资 </a>
						<div class="navigation-list-two-con" id="dw_ul2">
							<div class="navigation-list-two">
								<ul class="navigation-two-list" id="erji_nav">
								</ul>
							</div>
						</div></li>



					<li class="navigation-item "><a href="/pc/index/mianxirongzi"
						class="navigation-item-name">免息融资 </a>
						<div class="navigation-list-two-con" id="dw_ul2">
							<div class="navigation-list-two">
								<ul class="navigation-two-list" id="erji_nav">
								</ul>
							</div>
						</div></li>



					<li class="navigation-item "><a href="/pc/index/gongsijianjie"
						class="navigation-item-name">新手引导 </a>
						<div class="navigation-list-two-con" id="dw_ul2">
							<div class="navigation-list-two">
								<ul class="navigation-two-list" id="erji_nav">
								</ul>
							</div>
						</div></li>



					<li class="navigation-item "><a href="/pc/index/woyaotuiguang"
						class="navigation-item-name">我要推广 </a>
						<div class="navigation-list-two-con" id="dw_ul2">
							<div class="navigation-list-two">
								<ul class="navigation-two-list" id="erji_nav">
								</ul>
							</div>
						</div></li>



					<li class="navigation-item "><a href="/pc/index/ruanjianxiazai"
						class="navigation-item-name">软件下载 </a>
						<div class="navigation-list-two-con" id="dw_ul2">
							<div class="navigation-list-two">
								<ul class="navigation-two-list" id="erji_nav">
								</ul>
							</div>
						</div></li>




				</ul>
			</div>
		</div>
	</div>

	<div class="pz-slide perocess-bg-day"></div>
	<div class="w pz-type-swith">
		<ul>
			<li><a href="/pc/index/mianxirongzi">免息融资</a></li>
			<li><a href="/pc/index/anyuerongzi">按月融资</a></li>
			<!-- <li><a href="stock/weekfinancing">按周融资</a></li> -->
			<li><a class="on">按天融资</a></li>
			<!--<li><a  href="stock/try">免费体验</a></li>-->
		</ul>
		<div class="pz-day-content-all">
			<div class="pz-day-content">
				<div class="pz-day-public pzdaymoney">
					<h2>保证金</h2>
					<input type="text" id="deposite_money" value="1000" />
				</div>
				<div class="pz-day-public pzdaytimes">
					<h2>选择杠杆率</h2>
					<div class="pz-select">
						<div class="nav_listdown" id="nav_listdown">
							<p class="set_listdown">
								<span class="j-num">1</span>倍
							</p>
							<ul class="new_listdown">
								<li class="j-multiple-item" data-multiple="1" data-rate="0.22">
									<span class="multiple">1</span>倍
								</li>
								<li class="j-multiple-item" data-multiple="2" data-rate="0.21">
									<span class="multiple">2</span>倍
								</li>
								<li class="j-multiple-item" data-multiple="3" data-rate="0.20">
									<span class="multiple">3</span>倍
								</li>
								<li class="j-multiple-item" data-multiple="4" data-rate="0.19">
									<span class="multiple">4</span>倍
								</li>
								<li class="j-multiple-item" data-multiple="5" data-rate="0.18">
									<span class="multiple">5</span>倍
								</li>
								<li class="j-multiple-item" data-multiple="6" data-rate="0.17">
									<span class="multiple">6</span>倍
								</li>
								<li class="j-multiple-item" data-multiple="7" data-rate="0.16">
									<span class="multiple">7</span>倍
								</li>
								<li class="j-multiple-item" data-multiple="8" data-rate="0.15">
									<span class="multiple">8</span>倍
								</li>
							</ul>
							<input type="hidden" id="multiple" value="2" />
						</div>
					</div>
				</div>
				<div class="pz-day-public pzdaynumber">
					<h2>我需要操盘的天数？</h2>
					<div class="pz-select">
						<div class="nav_listdown" id="nav_listdown2">
							<p class="set_listdown">
								<span class="j-num">2</span>天
							</p>
							<ul class="new_listdown">
								<li class="j-duration-item" data-duration="2">2天</li>
								<li class="j-duration-item" data-duration="3">3天</li>
								<li class="j-duration-item" data-duration="4">4天</li>
								<li class="j-duration-item" data-duration="5">5天</li>
								<li class="j-duration-item" data-duration="6">6天</li>
								<li class="j-duration-item" data-duration="7">7天</li>
								<li class="j-duration-item" data-duration="8">8天</li>
								<li class="j-duration-item" data-duration="9">9天</li>
								<li class="j-duration-item" data-duration="10">10天</li>
								<li class="j-duration-item" data-duration="11">11天</li>
								<li class="j-duration-item" data-duration="12">12天</li>
								<li class="j-duration-item" data-duration="13">13天</li>
								<li class="j-duration-item" data-duration="14">14天</li>
								<li class="j-duration-item" data-duration="15">15天</li>
								<li class="j-duration-item" data-duration="16">16天</li>
								<li class="j-duration-item" data-duration="17">17天</li>
								<li class="j-duration-item" data-duration="18">18天</li>
								<li class="j-duration-item" data-duration="19">19天</li>
								<li class="j-duration-item" data-duration="20">20天</li>
								<li class="j-duration-item" data-duration="21">21天</li>
								<li class="j-duration-item" data-duration="22">22天</li>
								<li class="j-duration-item" data-duration="23">23天</li>
								<li class="j-duration-item" data-duration="24">24天</li>
								<li class="j-duration-item" data-duration="25">25天</li>
								<li class="j-duration-item" data-duration="26">26天</li>
								<li class="j-duration-item" data-duration="27">27天</li>
								<li class="j-duration-item" data-duration="28">28天</li>
								<li class="j-duration-item" data-duration="29">29天</li>
								<li class="j-duration-item" data-duration="30">30天</li>
							</ul>
						</div>
						<input type="hidden" id="use_data" value="" />
					</div>
				</div>
			</div>
			<div class="pz-day-content1">
				<h2>您需要准备的资金：</h2>
				<div class="pz-detail-count">
					<div class="pz-day-bond">
						<h3>
							<span id="deposit_money">1000</span>元
						</h3>
						<p>保证金</p>
					</div>
					<div
						style="position: absolute; margin-left: 265px; margin-top: 40px;">
						<img src="/static/pc/templets/moban/images/plus.png" width="28" height="28" />
					</div>
					<div class="pz-day-bond">
						<h3>
							<span id="rateFee">0</span>元
						</h3>
						<p>日利息（元）*天数</p>
					</div>
					<div
						style="position: absolute; margin-left: 630px; margin-top: 40px;">
						<img src="/static/pc/templets/moban/images/equal.png" width="30" height="28" />
					</div>
					<div class="pz-day-bond" style="margin-right: 0px;">
						<h3>
							<span id="borrow_fee">0</span>元
						</h3>
						<p>准备资金（元）</p>
					</div>
				</div>
			</div>
			<div class="pz-day-form">
				<table>
					<tr>
						<td style="background-color: #fcfcfc;">总操盘资金：</td>
						<td width="300" style="background-color: #fcfcfc;">
							<div style="width: 250px; margin: 0 auto 0 16px;">
								<span id="total_money">0</span>元
							</div>
						</td>
						<td>获得资金</td>
						<td><span id="gain_money">0</span>元</td>
					</tr>
					<tr>
						<td style="background-color: #fcfcfc;">亏损警戒线：</td>
						<td width="300" style="background-color: #fcfcfc;"><span
							id="loss_warn">0</span>元 <br> <span class="explain">(获得资金
								+ 保证金 X 0.5 )</span></td>
						<td>亏损平仓线：</td>
						<td><span id="loss_close">0</span>元 <br> <span
							class="explain">(获得资金 + 保证金 X 0.3 )</span></td>
					</tr>
					<tr>
						<td>资金天利率</td>
						<td><span id="RateValue"></span>%</td>
						<td>资金使用期：</td>
						<td><span id="duration"></span>天</td>
					</tr>
					<tr>
						<td style="background-color: #fcfcfc;">交易时间:</td>
						<td colspan="3"><label><input type="radio"
								name="dealtime" class="start-date" value="2" checked="checked" />
								下个交易日</label></td>
					</tr>
					<tr>
						<td>操盘须知</td>
						<td colspan="3">投资沪深A股，<span class="position">仓位不限制</span>，收益全归您。
						</td>
					</tr>
				</table>
			</div>
			<div class="pz-agmt-btn">
				<label> <input type="checkbox" checked="checked"
					id="agreementCheckbox" /> 我已阅读并同意 <a style="color: #f00;"
					target="_blank" href="/pc/index/zhucexieyi">《千吉时操盘协议》</a>
				</label> <a class="pz-me" href="/pc/index/ruanjianxiazai">我要融资</a>
			</div>
		</div>
	</div>
	<div class="w pz-ware-software">
		<div>
			<ul id="waring-software" class="clearfix">
				<li><a href="javascript:void(0)" class="active"
					onClick="showWaringSoft('pzwaring',this);">注意事项</a></li>
				<div class="Clr"></div>
			</ul>
		</div>
		<div class="ware-software-content">
			<div id="pzwaring" style="display: block;">
				<ul>
					<li><em>1</em>全程按天支付账户管理费（不包含交易印花税、过户费和佣金），无其他任何费用。</li>
					<li><em>2</em>投资本金：您用于投资股票的资金,起点相当低。</li>
					<li><em>3</em>资金使用期限：按天计算，包含各类节假日。</li>
					<li><em>4</em>每天支付管理费：如1月8日操盘，1月8日支付当日管理费，1月9日支付第2日管理费，以此类推。</li>
					<li><em>5</em>亏损警告线：当总操盘资金低于警戒线以下时，只能平仓不能建仓，我们将有权把您的股票减仓到本金余额的6倍。</li>
					<li><em>6</em>亏损平仓线：当总操盘资金低于平仓线以下时，我们将有权把您的股票进行平仓，为避免平仓发生，请时刻关注本金是否充足。</li>
					<li><em>7</em>开始交易时间：交易日当天14:50之前的申请于当日生效（当天开始收取账户管理费），交易日当天14：50后的申请于下个交易日生效。</li>
					<li><em>8</em>股市有风险，投资需谨慎。</li>
				</ul>
			</div>
		</div>
	</div>
	<script>
var dayStockSet = {
        warnLine: 50,
        closeLine: 30    },
    duration = 2,
    multiple = 1,
    rate = 0.22,
    depositeMoney = 1000,
    gainMoney = 0,
    warnMoney = 0,
    totalRate = 0,
    closeMoney = 0;


$("#deposite_money").on("blur", function() {
    if ($(this).val() > 9000000) $(this).val(9000000);
    if($(this).val() < 1000) $(this).val(1000);
    $(this).val(parseInt($(this).val()));
    depositeMoney = parseInt($(this).val());
    updateNum(depositeMoney, multiple, duration, rate);
})

function updateNum(depositeMoney, multiple, duration, rate) {
    // 融资金额计算
    // 警戒线 = 融资金额 + 保证金 * 倍率杠杆
    gainMoney = depositeMoney * multiple;
    warnMoney = gainMoney + depositeMoney * dayStockSet.warnLine / 100;
    closeMoney = gainMoney + depositeMoney * dayStockSet.closeLine / 100;

    // 利息计算
    // 利息 = 融资金额 * 利率(转成百分比) * 天数
    totalRate = (gainMoney * (rate / 100) * duration).toFixed(2);

    $("#rateFee").text(totalRate);
    var bfee=parseFloat(totalRate,2) + depositeMoney;
    $("#borrow_fee").text(bfee.toFixed(2));
    $("#deposit_money").text(depositeMoney);
    $("#gain_money").text(gainMoney);
    $("#loss_close").text(closeMoney);
    $("#loss_warn").text(warnMoney);
    $("#duration").text(duration);
    $("#RateValue").text(rate);
    $("#total_money").text(gainMoney + depositeMoney);

}

//下拉选中效果
$(".set_listdown").on('click', function() {
    $(this).siblings(".new_listdown").slideToggle();
})

$(".new_listdown").on('click', 'li', function(e) {
    if ($(this).hasClass("j-multiple-item")) {
        multiple = $(this).data("multiple");
        rate = $(this).data("rate");
        $(this).parent().siblings(".set_listdown").find(".j-num").html(multiple);
    } else if ($(this).hasClass("j-duration-item")) {
        duration = $(this).data("duration");
        $(this).parent().siblings(".set_listdown").find(".j-num").html(duration);
    }
    $(this).parent().slideToggle(100);

    updateNum(depositeMoney, multiple, duration, rate);
})

function applyFinancingQy() {
    if ( !$("#agreementCheckbox").is(":checked")) return $.jBox.tip('请阅读并同意操盘协议', "fail") ;
    var startDate = $(".start-date[type=radio]:checked").val();
    var buildQuery = "?money=" + gainMoney + "&multiple=" + multiple + "&duration=" + duration + "&type=1&startDate=" + startDate;
    window.location.href = "stock/enter" + buildQuery;
}

function showWaringSoft(type, obj) {
    $("#waring-software a").removeClass("active");
    $(obj).addClass("active");
    if (type == "pzwaring") {
        $("#pzwaring").show();
        $("#pzdeal").hide();
    } else {
        $("#pzwaring").hide();
        $("#pzdeal").show();
    }
}
$("#deposite_money").trigger("blur");
</script>
	<footer>
		<div class="footer-mi">
			<div class="container wrapper clearfix">



				<div class="footer-cen-mi fl">
					<p class="footer-menu-mi">
						<span><a target="_blank" class="footer-menu-lnone-mi"
							href="/pc/index/gongsijianjie">关于我们</a></span> <span>|</span> <span><a
							target="_blank" href="/pc/index/lianxiwomen">联系我们</a></span>
					</p>
					<p class="footer-logo-mi">
						<img width="177" height="62" class="lazy"
							src="/static/pc/templets/moban/images/hnjf-logo_bg.png">
					</p>
					<p class="footer-copy-mi">版权所有 © 千吉时</p>
					<p class="footer-copy-mi">
						<a target="_blank" href="http://www.miitbeian.gov.cn">沪ICP备19007906号</a>
					</p>
				</div>
				<div class="footer-right-mi fl">
					<p class="footer-menu-mi">
						<span><a rel="nofollow" class="footer-menu-lnone-mi"
							target="_blank" href="/pc/index/xinshouzhiyin" id="kefu1">股票融资新手帮助指引</a></span>
						<span>|</span> <a rel="nofollow"
							href="tencent://Message/?Uin=&amp;websiteName在线客服&amp;Menu=ye">在线客服</a>
					</p>
					<p class="footer-phone-mi">
						<i class="footer-icon-phone-mi"></i> 全国服务热线
					</p>
					<p class="footer-num-mi">400-763-8898</p>
					<p class="footer-serv-mi">服务时间 (8:30-17:30)</p>
				</div>
				<!--右边二维码 开始-->
				<div class="public">
					<div class="public-pao">
						<p>APP下载</p>
					</div>
					<div class="public-ewm">
						<p>
						<p>
							<img
								style="height: 130px; width: 130px; float: none; margin: 0px;"
								alt="" src="/static/pc/templets/moban/images/hnjf-app-down-344.jpg" />
						</p>
						</p>
					</div>
					<div class="public-pao">
						<span>扫描下载</span>
					</div>
				</div>
				<!--右边二维码 结束-->
			</div>
			<div class="container wrapper clearfix ">

				<div class="Friendship">
					<div class="link-href">
						<ul>
							<li>友情链接：</li>
							<li></li>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</footer>






	<div class="floating_ck">
		<dl>
			<dt></dt>
			<dd class="kefu">
				<span title="在线客服"><a href="#" target="_blank"></a></span>
				<div class="floating_left floating_ation">
					<div class="tit">千吉时在线客服</div>

					<div class="dianhua">400-763-8898</div>
				</div>
			</dd>
			<dd class="qrcord">
				<span title="扫一扫"></span>
				<div class="floating_left floating_ewm">
					<p>
						<img
							style="height: 130px; width: 130px; float: none; margin: 0px;"
							alt="" src="/static/pc/templets/moban/images/hnjf-app-down-344.jpg" />
					</p>
				</div>
			</dd>
			<dd class="return">
				<span onClick="gotoTop();return false;" title="返回顶部"></span>
			</dd>
		</dl>
	</div>
	<script>
    function gotoTop(){
        var n = $(window).scrollTop();
        for (I = n; I >= 1; I--) {
            window.scrollBy(0, -1);
        }
    }
</script>
</body>

</html>
