

<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<meta name="renderer" content="ie-stand">
<link type="text/css" rel="stylesheet"
	href="/static/pc/templets/moban/images/Skins/Currently/jbox.css" />
<link rel="stylesheet" type="text/css"
	href="/static/pc/templets/moban/images/style.css" />
<link rel="stylesheet" type="text/css"
	href="/static/pc/templets/moban/images/home.css" />
<script src="/static/pc/templets/moban/images/jquery.js"></script>

<title>软件下载-千吉时</title>

<link href="/static/pc/templets/moban/images/bangzhu.css" rel="stylesheet"
	type="text/css">

</head>

<body>
	<!--头部开始-->
	<div class="header-top">
		<div class="wrapper">
			<div class="tel-num">
				欢迎来到 <span>千吉时</span>！客服热线： 400-763-8898
			</div>
			<div class="quick-link"></div>
		</div>
	</div>
	<div class="header">
		<div class="wrapper d_wrapM  clearfix">
			<div class="logo">
				<a href="index.html"><p>
						<img style="height: 75px; width: 450px; float: none; margin: 0px;"
							alt="" src="/static/pc/templets/moban/images/hnjf-web-logo.png" />
					</p></a>
			</div>

			<div class="nav clearfix" style="float: right;">



				<ul class="clearfix navigation-list" id="dw_ul">
					<li class="navigation-item "><a href="/pc/index/index"
						class="navigation-item-name">网站首页 </a>
						<div class="navigation-list-two-con" id="dw_ul2">
							<div class="navigation-list-two">
								<ul class="navigation-two-list" id="erji_nav">
								</ul>
							</div>
						</div></li>



					<li class="navigation-item "><a href="/pc/index/antianrongzi"
						class="navigation-item-name">按天融资 </a>
						<div class="navigation-list-two-con" id="dw_ul2">
							<div class="navigation-list-two">
								<ul class="navigation-two-list" id="erji_nav">
								</ul>
							</div>
						</div></li>



					<li class="navigation-item "><a href="/pc/index/anyuerongzi"
						class="navigation-item-name">按月融资 </a>
						<div class="navigation-list-two-con" id="dw_ul2">
							<div class="navigation-list-two">
								<ul class="navigation-two-list" id="erji_nav">
								</ul>
							</div>
						</div></li>



					<li class="navigation-item "><a href="/pc/index/mianxirongzi"
						class="navigation-item-name">免息融资 </a>
						<div class="navigation-list-two-con" id="dw_ul2">
							<div class="navigation-list-two">
								<ul class="navigation-two-list" id="erji_nav">
								</ul>
							</div>
						</div></li>



					<li class="navigation-item "><a href="/pc/index/gongsijianjie"
						class="navigation-item-name">新手引导 </a>
						<div class="navigation-list-two-con" id="dw_ul2">
							<div class="navigation-list-two">
								<ul class="navigation-two-list" id="erji_nav">
								</ul>
							</div>
						</div></li>



					<li class="navigation-item "><a href="/pc/index/woyaotuiguang"
						class="navigation-item-name">我要推广 </a>
						<div class="navigation-list-two-con" id="dw_ul2">
							<div class="navigation-list-two">
								<ul class="navigation-two-list" id="erji_nav">
								</ul>
							</div>
						</div></li>



					<li class="navigation-item "><a href="/pc/index/ruanjianxiazai"
						class="navigation-item-name">软件下载 </a>
						<div class="navigation-list-two-con" id="dw_ul2">
							<div class="navigation-list-two">
								<ul class="navigation-two-list" id="erji_nav">
								</ul>
							</div>
						</div></li>




				</ul>
			</div>
		</div>
	</div>




	<div class="body-container down-bg">
		<div class="wrapper clearfix">
			<div class="down-right">
				<h3 class="tit">股票交易软件</h3>
				<p class="brief">”不再是旁观者，属于您自己的交易软件“</p>

				<div class="down-left-img">
					<img src="/static/pc/templets/moban/images/down-left-img.png" alt="" />
				</div>
				<div class="down-btn clearfix">
					<div class="down-btn-right ">
						<p></p>
						<img src="/static/pc/templets/moban/images/hnjf-sjapp-down.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="copyRight">
		<div class="wrapper clearfix">
			<p class="text">
				<span>版权所有 © 千吉时 </span>
			</p>

		</div>
	</div>
	<!--客服-->
	<div class="floating_ck">
		<dl>
			<dt></dt>
			<dd class="kefu">
				<span title="在线客服"><a href="#" target="_blank"></a></span>
				<div class="floating_left floating_ation">

					<ul>
						<li><a
							href="tencent://Message/?Uin=&amp;websiteName=在线客服&amp;Menu=ye"></a></li>
					</ul>
				</div>
			</dd>
			<dd class="qrcord">
				<span title="扫一扫"></span>
				<div class="floating_left floating_ewm">
					<p>
						<img
							style="height: 130px; width: 130px; float: none; margin: 0px;"
							alt="" src="/static/pc/templets/moban/images/hnjf-app-down-344.jpg" />
					</p>
				</div>
			</dd>
			<dd class="return">
				<span onClick="gotoTop();return false;" title="返回顶部"></span>
			</dd>
		</dl>
	</div>
	<!--客服 end-->
</body>

</html>
