
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta name="renderer" content="ie-stand">
    <link type="text/css" rel="stylesheet" href="/static/pc/templets/moban/images/Skins/Currently/jbox.css" />
    <link rel="stylesheet" type="text/css" href="/static/pc/templets/moban/images/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/pc/templets/moban/images/home.css" />
    <script src="/static/pc/templets/moban/images/jquery.js"></script>
    
    

<title>有券商与国资联手成立百亿基金“扫货”！-千吉时</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="/static/pc/templets/moban/images/news.css">
<script>
    function IFrameReSize(iframename) {
        var pTar = document.getElementById(iframename);
        if (pTar) {
            if (pTar.contentDocument && pTar.contentDocument.body.offsetHeight && !window.ActiveXObject) {
                pTar.height = pTar.contentDocument.body.offsetHeight + 100;
            }
            else if (pTar.Document && pTar.Document.body.scrollHeight) {
                pTar.height = pTar.Document.body.scrollHeight;
            }
        }
    }
    function IFrameReSizeWidth(iframename) {
        var pTar = document.getElementById(iframename);
        if (pTar) {
            if (pTar.contentDocument && pTar.contentDocument.body.offsetWidth) {
                pTar.width = pTar.contentDocument.body.offsetWidth;
            } 
            else if (pTar.Document && pTar.Document.body.scrollWidth) {
                pTar.width = pTar.Document.body.scrollWidth;
            }
        }
    }
</script>

</head>

<body>
    <!--头部开始-->
    <div class="header-top">
        <div class="wrapper">
            <div class="tel-num">
                欢迎来到 <span>千吉时</span>！客服热线： 400-763-8898            </div>
            <div class="quick-link">
                                              </div>
        </div>
    </div>
    <div class="header">
        <div class="wrapper d_wrapM  clearfix">
            <div class="logo"><a href="index.html"><p><img style="height: 75px; width: 450px; float: none; margin: 0px;" alt="" src="templets/moban/images/hnjf-web-logo.png" /></p></a></div>
          
            <div class="nav clearfix" style="float: right;">
        


            <ul class="clearfix navigation-list" id="dw_ul">
                        <li class="navigation-item ">
                <a href="/pc/index/index" class="navigation-item-name">网站首页                                    </a>
                <div class="navigation-list-two-con" id="dw_ul2">
                    <div class="navigation-list-two">
                                                <ul class="navigation-two-list" id="erji_nav">
                                                    </ul>
                    </div>
                </div>
            </li>
			
			
			
                        <li class="navigation-item ">
                <a href="/pc/index/antianrongzi" class="navigation-item-name">按天融资                                   </a>
                <div class="navigation-list-two-con" id="dw_ul2">
                    <div class="navigation-list-two">
                                                <ul class="navigation-two-list" id="erji_nav">
                                                    </ul>
                    </div>
                </div>
            </li>
                       
				
			
                        <li class="navigation-item ">
                <a href="/pc/index/anyuerongzil" class="navigation-item-name">按月融资                                   </a>
                <div class="navigation-list-two-con" id="dw_ul2">
                    <div class="navigation-list-two">
                                                <ul class="navigation-two-list" id="erji_nav">
                                                    </ul>
                    </div>
                </div>
            </li>
                       
				
			
                        <li class="navigation-item ">
                <a href="/pc/index/mianxirongzi" class="navigation-item-name">免息融资                                   </a>
                <div class="navigation-list-two-con" id="dw_ul2">
                    <div class="navigation-list-two">
                                                <ul class="navigation-two-list" id="erji_nav">
                                                    </ul>
                    </div>
                </div>
            </li>
                       
				
			
                        <li class="navigation-item ">
                <a href="/pc/index/gongsijianjie" class="navigation-item-name">新手引导                                   </a>
                <div class="navigation-list-two-con" id="dw_ul2">
                    <div class="navigation-list-two">
                                                <ul class="navigation-two-list" id="erji_nav">
                                                    </ul>
                    </div>
                </div>
            </li>
                       
				
			
                        <li class="navigation-item ">
                <a href="/pc/index/woyaotuiguang" class="navigation-item-name">我要推广                                   </a>
                <div class="navigation-list-two-con" id="dw_ul2">
                    <div class="navigation-list-two">
                                                <ul class="navigation-two-list" id="erji_nav">
                                                    </ul>
                    </div>
                </div>
            </li>
                       
				
			
                        <li class="navigation-item ">
                <a href="/pc/index/ruanjianxiazai" class="navigation-item-name">软件下载                                   </a>
                <div class="navigation-list-two-con" id="dw_ul2">
                    <div class="navigation-list-two">
                                                <ul class="navigation-two-list" id="erji_nav">
                                                    </ul>
                    </div>
                </div>
            </li>
                       
					   
					   
					   
                    </ul>
            </div>
        </div>
    </div>


<!--中部开始-->
<div class="wrapper2 h50 ft16 line3-5e">&nbsp;&nbsp;&nbsp;<a href=''>主页</a> > <a href='/pc/index/zixunzhongxin'>资讯中心</a> > </div>
<div class="wrapper2 clearfix">
    <div class="cms_frame cf">
        
<div class="cms_nav">
  <ul class="cn-nav-1-1ist">
    <li class="cn1l-item "> <a href="/pc/index/wangzhangonggao" title="网站公告" class="cn1l-item-name">
      	      	网站公告</a> </li><li class="cn1l-item current"> <a href="/pc/index/zixunzhongxin" title="资讯中心" class="cn1l-item-name">
      	      	资讯中心</a> </li>  </ul>
</div>

        <div class="cms_content">
            <div class="cms-title-1">
                <div class="pleft30 ptop10 h30 right" style="width:212px;">
                    <div class="bdsharebuttonbox" style="width:212px;">
                        <a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="" style=" background:none; padding-left:0;">分享到：</a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                        <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    </div>
                    <script>
                        window._bd_share_config = {
                            "common": {
                                "bdSnsKey": {},
                                "bdText": "",
                                "bdMini": "2",
                                "bdMiniList": false,
                                "bdPic": "",
                                "bdStyle": "0",
                                "bdSize": "16"
                            },
                            "share": {},
                            "image": {
                                "viewList": ["qzone", "tsina", "tqq", "sqq", "weixin"],
                                "viewText": "分享到：",
                                "viewSize": "16"
                            },
                            "selectShare": {
                                "bdContainerClass": null,
                                "bdSelectMiniList": ["qzone", "tsina", "tqq", "sqq", "weixin"]
                            }
                        };
                        with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
                    </script>
                </div>
                <h2>资讯中心</h2>
            </div>
            <div class="cms-details">
                <div class="article-list-wrap mgt">
                    <table width="720" border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;">
                        <tr>
                            <td height="50" align="center" valign="middle" style="font-size:24px; color:#666;" >有券商与国资联手成立百亿基金“扫货”！</td>
                        </tr>
                        <tr>
                            <td height="50" align="center" valign="middle" style="border-bottom:1px solid #dedede;">发布时间：2018-10-12 08:45</td>
                        </tr>
                        <tr>
                            <td>
                               <div>
	A股持续回调下，&ldquo;无股不押&rdquo;的股票质押业务成了券商业务的&ldquo;雷区&rdquo;。近期各地国资都在用真金白银为股权质押业务&ldquo;排雷&rdquo;，券商也在行动，有券商与国资一起设立百亿基金，通过受让上市公司股权帮助化解股票质押风险；有券商要求存量质押业务到期先还本付息，续作减少融资规模，降低质押率。</div>
<div>
	&nbsp;</div>
<div>
	　　所有举措都在降低股票质押市场规模。国金策略统计数据显示，从2014年4月份以来一直保持正值的股票质押净融资规模，从今年2月起持续呈现负值，成为股权质押市场数年来的新现象。</div>
<div>
	&nbsp;</div>
<div>
	　　数据显示，目前A股市场质押股数为6361.86亿股，市场质押市值为4.91万亿，其中68%的质押方是券商。券商中国记者根据数据梳理，以今年年初至10月18日为区间，股权质押存量规模过百亿的券商有22家，存量规模超过200亿的券商有12家。</div>
<div>
	&nbsp;</div>
<div>
	　　目前来看，券商股权质押业务存量规模最大的为申万宏源证券，未解押交易参考市值为915.09亿元；其次为海通证券和中信建投，未解押交易参考市值均超过了700亿元。</div>
<div>
	&nbsp;</div>
<div>
	　　东兴证券与国资设立百亿基金</div>
<div>
	&nbsp;</div>
<div>
	　　北京证监局官网16日挂出消息透露，海淀区属国资和东兴证券发起设立支持优质科技企业发展基金，基金规模100亿元，首期20亿元已完成募资，通过受让不超过上市公司总股本10%的股权，帮助民营科技上市公司化解股票质押风险等。</div>
<div>
	&nbsp;</div>
<div>
	　　接近东兴证券的人士对记者透露，首期募资中东兴证券出资10亿元，持股比例为49.98%，成立的基金完全市场化运作，目前已经有意向投资标的，正在尽调阶段。</div>
<div>
	&nbsp;</div>
<div>
	　　券商中国记者通过工商信息查询，东兴证券和海淀区国资下属多家企业在今年9月4日注册成立了北京海国东兴支持优质科技企业发展投资管理中心(有限合伙)。就股权关系来看，东兴证券认缴金额10亿元，持股比例49.98%；北京市海淀区国有资本经营管理中心认缴金额6亿元，持股比例29.99%；北京海淀科技金融资本控股集团股份有限公司认缴3亿元，持股金额14.99%；北京海开房地产集团有限责任公司认缴1亿元，持股比例5%；北京中海长益投资管理公司(有限合伙)认缴100万，持股比例0.05%。</div>
<div>
	&nbsp;</div>
<div>
	　　上述接近东兴证券人士表示，公司此前与海淀区有较长期的合作关系，认为现在的市场环境下可以设立基金做这个事情。首期已募资20亿元，剩余的80亿金额，将各自发挥优势去寻找投资人，不排除原有投资人会继续追加资金。</div>
<div>
	&nbsp;</div>
<div>
	　　有券商人士对记者分析到，此举对市场是一个积极的信号。&ldquo;完全市场化运作，就有盈利要求。券商现在和国资一起成立基金去投资海淀区上市公司质押股票，证明他们认为现在的股价已经比较便宜。&rdquo;</div>
<div>
	&nbsp;</div>
<div>
	　　该人士进一步分析到，通过受让不超过上市公司总股本10%的股权，既不会让控股股东丧失对企业的控制权，又化解了上市公司的股票质押风险，一定程度上可以抑制股票循环下行。通过这个方式把股票质押的雷解决，对市场是好事。</div>
<div>
	&nbsp;</div>
<div>
	　　大券商要求存量业务到期先还本付息</div>
<div>
	&nbsp;</div>
<div>
	　　由于A股持续回调下，&ldquo;无股不押&rdquo;的股票质押业务成了券商业务的&ldquo;雷区&rdquo;。正因为股票质押等重资产业务的拖累，使得券商股业绩承压。</div>
<div>
	&nbsp;</div>
<div>
	　　有券商认为当下的市场条件下可以设立基金去受让质押优质股票，更多的券商用实际行动证明，当务之急是要减少股票质押规模。</div>
<div>
	&nbsp;</div>
<div>
	　　记者根据数据梳理，以今年年初至10月18日为区间，股权质押存量规模过百亿的券商有22家，存量规模超过200亿的券商有12家。</div>
<div>
	&nbsp;</div>
<div>
	　　目前来看，券商股权质押业务存量规模最大的为申万宏源证券，未解押交易参考市值为915.09亿元；其次为海通证券和中信建投，未解押交易参考市值均超过了700亿元。</div>
<div>
	&nbsp;</div>
<div>
	　　券商中国记者此前发现，由于存量规模过大、额度告急、对后市存有悲观等原因，包括一些大型券商在内的证券公司暂停股票质押融资业务，即便仍开展此类业务，也要求存量质押业务到期先还本付息，续作减少融资规模，降低质押率。</div>
<div>
	&nbsp;</div>
<div>
	　　一家规模排名前十的证券公司某券商营业部负责人告诉券商中国记者，公司现在的策略是，股票质押减少承接新业务，对于存量质押业务，到期须先还本付息，续做的话，融资规模会减少，比如之前质押的股票可以借5个亿，现在可能只能借2、3个亿，毕竟股票跌了，质押率也要求降低。</div>
<div>
	&nbsp;</div>
<div>
	　　今年来股票质押净融资规模为负</div>
<div>
	&nbsp;</div>
<div>
	　　上述券商人士还提到了股权质押市场出现的一个新的现象，今年来市场中股票质押净融资规模下降明显，&ldquo;比如说，这个月市场新增的质押规模是100亿，但到期规模有200亿，那么这个月质押净规模减少100亿，以前每个月质押净规模都是增加的，近几个月来才开始减少。&rdquo;</div>
<div>
	&nbsp;</div>
<div>
	　　据了解，股票质押&ldquo;净融资规模&rdquo;指的是：股票质押新增或续作的规模-股票质押到期偿还的规模。国金策略认为，受金融去杠杆政策影响，今年股票质押增量业务有所下滑，净融资规模下降明显，首次出现部分月份净融资规模为负。</div>
<div>
	&nbsp;</div>
<div>
	　　据国金策略统计数据，从2014年4月份至2017年12月份，股票质押净融资规模都为正值，每月股票质押净融资规模(场内)普遍在百亿以上。从2018年1月份起，股票质押净融资规模就大幅缩水至73.67亿元，2月份至今，每月股票质押净融资规模出现负值。</div>
<div>
	&nbsp;</div>
<div>
	　　其中6月份的股质净融资规模为-388.15 亿元，其中融资金额为240.73亿元，偿还金额为628.88亿元，为今年来净规模缩小最多的一个月。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	图片来源：国金策略研究报告</div>
<div>
	&nbsp;</div>
<div>
	　　哪些地方国资出手了</div>
<div>
	&nbsp;</div>
<div>
	　　面对严峻的市场情况，多地国资对质押股票的公司大股东伸出援手。近两日最受关注的是东方园林，为避免该公司控股股东的股票质押风险传导至上市公司，北京证监局17日罕见约谈17家券商、8家银行、2家信托、1家资管公司在内的28家债权人参加集体协商会议。建议&ldquo;各债权人从大局考虑，给予控股股东化解风险的时间，暂不采取强制平仓、司法冻结等措施，避免债务风险恶化影响公司稳定经营。&rdquo;</div>
<div>
	&nbsp;</div>
<div>
	　　此举明显立竿见影。东方园林18日早间公告，截至10月17日，控股股东何巧女及其一致行动人共质押股份11.13亿股，占其持股比例82.88%。目前整体质押风险可控。同时，还公告公司拟引入国资战略投资者，目前已与相关央企、地方国资进行了多轮谈判。</div>
<div>
	&nbsp;</div>
<div>
	　　北京证监局最近对股权质押风险频频出手。就在约谈东方园林控股股东股权质押债权人以及走访海淀区政府之后，18日，记者获悉，北京其他辖区有望复刻海淀模式，在化解上市公司控股股东股票质押风险上给予支持。同时，在北京海淀发起设立规模达百亿纾困基金的基础上，北京市政府有意向再配置1-2倍的资金给予支持，这意味着基金规模或将达到300亿元。</div>
<div>
	&nbsp;</div>
<div>
	　　此前，深圳市政府出台了促进上市公司健康稳定发展的若干措施，并已安排数百亿的专项资金，以债权、股权两种方式，构建风险共济机制，改善深圳A股上市公司流动性，降低上市公司股票质押风险。成为首个地方国资出面&ldquo;排雷&rdquo;的践行者。</div>
<div>
	&nbsp;</div>
<div>
	　　除了深圳，广东广州、佛山顺德、东莞也都在近期加快行动。广州市相关政府部门则从当地辖区监管部门获得了因高质押率而导致流动性风险的相关民营上市公司名单，积极准备相应救市工作；佛山顺德酝酿出台缓解当地上市公司股权质押风险的方案，拟安排专项资金，从债权和股权两个方面入手，降低当地上市公司股票质押风险，改善上市公司流动性；东莞市政府也积极征求上市企业意见，为解决流动性难题提供渠道。</div>
<div>
	&nbsp;</div>
<div>
	　　另外，今年来，国资接盘民企的案例明显增多。就在10月初，福建省国资委对合力泰预计32亿元进行收购，相较于停牌前的5.61元收盘价，收购溢价约22%；河南地方国资近几个月也频频出手，受让或计划受让的上市公司股权也达到3家。</div>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href=" " class="blue float right">返回列表>></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer-mi">
        <div class="container wrapper clearfix">

      

            <div class="footer-cen-mi fl">
                <p class="footer-menu-mi">
                    <span><a target="_blank" class="footer-menu-lnone-mi" href="gongsijianjie.html">关于我们</a></span>
                    <span>|</span>
                    <span><a target="_blank" href="lianxiwomen.html">联系我们</a></span>
                </p>
                <p class="footer-logo-mi">
                    <img width="177" height="62" class="lazy" src="/static/pc/templets/moban/images/hnjf-logo_bg.png">
                </p>
                <p class="footer-copy-mi"> 版权所有 © 千吉时    </p>
                <p class="footer-copy-mi"><a target="_blank" href="http://www.miitbeian.gov.cn">沪ICP备19007906号</a></p>
            </div>
            <div class="footer-right-mi fl">
                <p class="footer-menu-mi">
                    <span><a rel="nofollow" class="footer-menu-lnone-mi" target="_blank" href="/pc/index/xinshouzhiyin" id="kefu1">股票融资新手帮助指引</a></span>
                    <span>|</span>
                    <a rel="nofollow" href="tencent://Message/?Uin=&amp;websiteName在线客服&amp;Menu=ye"  >在线客服</a>
                </p>
                <p class="footer-phone-mi">
                    <i class="footer-icon-phone-mi"></i>
                    全国服务热线
                </p>
                <p class="footer-num-mi">400-763-8898</p>
                <p class="footer-serv-mi">
                    服务时间 (8:30-17:30)
                </p>
            </div>
            <!--右边二维码 开始-->
            <div class="public">
                <div class="public-pao">
                    <p> APP下载 </p>
                </div>
                <div class="public-ewm">
                    <p>
                  <p><img style="height: 130px; width: 130px; float: none; margin: 0px;" alt="" src="/static/pc/templets/moban/images/hnjf-app-down-344.jpg" /></p>                    </p>
                </div>
                <div class="public-pao">
                    <span>扫描下载</span>
                </div>
            </div>
            <!--右边二维码 结束-->
        </div>
        <div class="container wrapper clearfix ">
                
            <div class="Friendship">
                    <div class="link-href">
                            <ul>
                                <li>友情链接：</li>
                                <li></li>                            </ul>
             
                    </div> 
            </div>
            </div>
    </div>
</footer>






<div class="floating_ck">
    <dl>
        <dt></dt>
        <dd class="kefu">
            <span title="在线客服"><a href="#"  target="_blank"></a></span>
            <div class="floating_left floating_ation">
                <div class="tit">千吉时在线客服</div>
                
                <div class="dianhua">400-763-8898</div>
            </div>
        </dd>
        <dd class="qrcord">
            <span title="扫一扫"></span>
            <div class="floating_left floating_ewm">
                <p><img style="height: 130px; width: 130px; float: none; margin: 0px;" alt="" src="/static/pc/templets/moban/images/hnjf-app-down-344.jpg" /></p>            </div>
        </dd>
        <dd class="return">
            <span onClick="gotoTop();return false;" title="返回顶部"></span>
        </dd>
    </dl>
</div>
<script>
    function gotoTop(){
        var n = $(window).scrollTop();
        for (I = n; I >= 1; I--) {
            window.scrollBy(0, -1);
        }
    }
</script>
</body>

</html>
