

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta name="renderer" content="ie-stand">
    <link type="text/css" rel="stylesheet" href="/static/pc/templets/moban/images/Skins/Currently/jbox.css" />
    <link rel="stylesheet" type="text/css" href="/static/pc/templets/moban/images/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/pc/templets/moban/images/home.css" />
    <script src="/static/pc/templets/moban/images/jquery.js"></script>
    
    

<title>资讯中心-千吉时</title>

<link rel="stylesheet" href="/static/pc/templets/moban/images/news.css">
</head>

<body>
    <!--头部开始-->
    <div class="header-top">
        <div class="wrapper">
            <div class="tel-num">
                欢迎来到 <span>千吉时</span>！客服热线： 400-763-8898            </div>
            <div class="quick-link">
                                              </div>
        </div>
    </div>
    <div class="header">
        <div class="wrapper d_wrapM  clearfix">
            <div class="logo"><a href="/pc/index/index"><p><img style="height: 75px; width: 450px; float: none; margin: 0px;" alt="" src="templets/moban/images/hnjf-web-logo.png" /></p></a></div>
          
            <div class="nav clearfix" style="float: right;">
        


            <ul class="clearfix navigation-list" id="dw_ul">
                        <li class="navigation-item ">
                <a href="/pc/index/index" class="navigation-item-name">网站首页                                    </a>
                <div class="navigation-list-two-con" id="dw_ul2">
                    <div class="navigation-list-two">
                                                <ul class="navigation-two-list" id="erji_nav">
                                                    </ul>
                    </div>
                </div>
            </li>
			
			
			
                        <li class="navigation-item ">
                <a href="/pc/index/antianrongzi" class="navigation-item-name">按天融资                                   </a>
                <div class="navigation-list-two-con" id="dw_ul2">
                    <div class="navigation-list-two">
                                                <ul class="navigation-two-list" id="erji_nav">
                                                    </ul>
                    </div>
                </div>
            </li>
                       
				
			
                        <li class="navigation-item ">
                <a href="/pc/index/anyuerongzil" class="navigation-item-name">按月融资                                   </a>
                <div class="navigation-list-two-con" id="dw_ul2">
                    <div class="navigation-list-two">
                                                <ul class="navigation-two-list" id="erji_nav">
                                                    </ul>
                    </div>
                </div>
            </li>
                       
				
			
                        <li class="navigation-item ">
                <a href="/pc/index/mianxirongzi" class="navigation-item-name">免息融资                                   </a>
                <div class="navigation-list-two-con" id="dw_ul2">
                    <div class="navigation-list-two">
                                                <ul class="navigation-two-list" id="erji_nav">
                                                    </ul>
                    </div>
                </div>
            </li>
                       
				
			
                        <li class="navigation-item ">
                <a href="/pc/index/gongsijianjie" class="navigation-item-name">新手引导                                   </a>
                <div class="navigation-list-two-con" id="dw_ul2">
                    <div class="navigation-list-two">
                                                <ul class="navigation-two-list" id="erji_nav">
                                                    </ul>
                    </div>
                </div>
            </li>
                       
				
			
                        <li class="navigation-item ">
                <a href="/pc/index/woyaotuiguang" class="navigation-item-name">我要推广                                   </a>
                <div class="navigation-list-two-con" id="dw_ul2">
                    <div class="navigation-list-two">
                                                <ul class="navigation-two-list" id="erji_nav">
                                                    </ul>
                    </div>
                </div>
            </li>
                       
				
			
                        <li class="navigation-item ">
                <a href="/pc/index/ruanjianxiazai" class="navigation-item-name">软件下载                                   </a>
                <div class="navigation-list-two-con" id="dw_ul2">
                    <div class="navigation-list-two">
                                                <ul class="navigation-two-list" id="erji_nav">
                                                    </ul>
                    </div>
                </div>
            </li>
                       
					   
					   
					   
                    </ul>
            </div>
        </div>
    </div>


<div class="wrapper2 clearfix">
    <div class="h50 ft16 line3-5e">&nbsp;<a href=''>主页</a> > <a href='/pc/index/zixunzhongxin'>资讯中心</a> > </div>
</div>

<div class="wrapper2">
    <div class="cms_frame cf">
        
<div class="cms_nav">
  <ul class="cn-nav-1-1ist">
    <li class="cn1l-item "> <a href="/pc/index/wangzhangonggao" title="网站公告" class="cn1l-item-name">
      	      	网站公告</a> </li><li class="cn1l-item current"> <a href="/pc/index/zixunzhongxin" title="资讯中心" class="cn1l-item-name">
      	      	资讯中心</a> </li>  </ul>
</div>

        <div class="cms_content">
            <div class="cms-title-1">
                <h2>资讯中心</h2>
            </div>
            <div class="cms-details">
                <div class="article-list-wrap mgt">
                    <div class="article-list mgt">
                        <ul>
						
						<li class="changecolor">

                                    <a href="/pc/index/zixunxiangqing" title="有券商与国资联手成立百亿基金“扫货”！"  >
                                        <span class="release-time">
                                          2018-10-24                                       </span>
                                        有券商与国资联手成立百亿基金“扫货”！                                    </a>

                                </li><li class="changecolor">

                                    <a href="/pc/index/zixunxiangqing" title="A股最悲观时刻已过 机构掘金三季报机会"  >
                                        <span class="release-time">
                                          2018-10-24                                       </span>
                                        A股最悲观时刻已过 机构掘金三季报机会                                    </a>

                                </li><li class="changecolor">

                                    <a href="/pc/index/zixunxiangqing" title="重磅！国务院金稳会宣布三大决定！三大部门政"  >
                                        <span class="release-time">
                                          2018-10-24                                       </span>
                                        重磅！国务院金稳会宣布三大决定！三大部门政                                    </a>

                                </li><li class="changecolor">

                                    <a href="/pc/index/zixunxiangqing" title="A股迎来10大超强利好"  >
                                        <span class="release-time">
                                          2018-10-24                                       </span>
                                        A股迎来10大超强利好                                    </a>

                                </li><li class="changecolor">

                                    <a href="/pc/index/zixunxiangqing" title="1000亿“救市”资管要来了"  >
                                        <span class="release-time">
                                          2018-10-24                                       </span>
                                        1000亿“救市”资管要来了                                    </a>

                                </li><li class="changecolor">

                                    <a href="/pc/index/zixunxiangqing" title="时隔四年券商板块再现“涨停潮”"  >
                                        <span class="release-time">
                                          2018-10-24                                       </span>
                                        时隔四年券商板块再现“涨停潮”                                    </a>

                                </li><li class="changecolor">

                                    <a href="/pc/index/zixunxiangqing" title="多地政策支持 千亿元资金有望增援上市民企"  >
                                        <span class="release-time">
                                          2018-10-24                                       </span>
                                        多地政策支持 千亿元资金有望增援上市民企                                    </a>

                                </li><li class="changecolor">

                                    <a href="/pc/index/zixunxiangqing" title="A股又掉链子！节后外资出逃155亿"  >
                                        <span class="release-time">
                                          2018-10-24                                       </span>
                                        A股又掉链子！节后外资出逃155亿                                    </a>

                                </li>
								             </ul>
                    </div>
                    <div class="clear h15"></div>
                    <div class="list_bottom">
                        <div class="pagination-wrapper"> <div class="pagination"> <li><span class="pageinfo">共 <strong>1</strong>页<strong>8</strong>条记录</span></li>
 </div> </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>



<footer>
    <div class="footer-mi">
        <div class="container wrapper clearfix">

      

            <div class="footer-cen-mi fl">
                <p class="footer-menu-mi">
                    <span><a target="_blank" class="footer-menu-lnone-mi" href="gongsijianjie.html">关于我们</a></span>
                    <span>|</span>
                    <span><a target="_blank" href="/pc/index/lianxiwomen">联系我们</a></span>
                </p>
                <p class="footer-logo-mi">
                    <img width="177" height="62" class="lazy" src="/static/pc/templets/moban/images/hnjf-logo_bg.png">
                </p>
                <p class="footer-copy-mi"> 版权所有 © 千吉时    </p>
                <p class="footer-copy-mi"><a target="_blank" href="http://www.miitbeian.gov.cn">沪ICP备19007906号</a></p>
            </div>
            <div class="footer-right-mi fl">
                <p class="footer-menu-mi">
                    <span><a rel="nofollow" class="footer-menu-lnone-mi" target="_blank" href="/pc/index/xinshouzhiyin" id="kefu1">股票融资新手帮助指引</a></span>
                    <span>|</span>
                    <a rel="nofollow" href="tencent://Message/?Uin=&amp;websiteName在线客服&amp;Menu=ye"  >在线客服</a>
                </p>
                <p class="footer-phone-mi">
                    <i class="footer-icon-phone-mi"></i>
                    全国服务热线
                </p>
                <p class="footer-num-mi">400-763-8898</p>
                <p class="footer-serv-mi">
                    服务时间 (8:30-17:30)
                </p>
            </div>
            <!--右边二维码 开始-->
            <div class="public">
                <div class="public-pao">
                    <p> APP下载 </p>
                </div>
                <div class="public-ewm">
                    <p>
                  <p><img style="height: 130px; width: 130px; float: none; margin: 0px;" alt="" src="/static/pc/templets/moban/images/hnjf-app-down-344.jpg" /></p>                    </p>
                </div>
                <div class="public-pao">
                    <span>扫描下载</span>
                </div>
            </div>
            <!--右边二维码 结束-->
        </div>
        <div class="container wrapper clearfix ">
                
            <div class="Friendship">
                    <div class="link-href">
                            <ul>
                                <li>友情链接：</li>
                                <li></li>                            </ul>
             
                    </div> 
            </div>
            </div>
    </div>
</footer>






<div class="floating_ck">
    <dl>
        <dt></dt>
        <dd class="kefu">
            <span title="在线客服"><a href="#"  target="_blank"></a></span>
            <div class="floating_left floating_ation">
                <div class="tit">千吉时在线客服</div>
                
                <div class="dianhua">400-763-8898</div>
            </div>
        </dd>
        <dd class="qrcord">
            <span title="扫一扫"></span>
            <div class="floating_left floating_ewm">
                <p><img style="height: 130px; width: 130px; float: none; margin: 0px;" alt="" src="/static/pc/templets/moban/images/hnjf-app-down-344.jpg" /></p>            </div>
        </dd>
        <dd class="return">
            <span onClick="gotoTop();return false;" title="返回顶部"></span>
        </dd>
    </dl>
</div>
<script>
    function gotoTop(){
        var n = $(window).scrollTop();
        for (I = n; I >= 1; I--) {
            window.scrollBy(0, -1);
        }
    }
</script>
</body>

</html>

