<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="utf-8">
	<title>资讯列表</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/admin/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/static/admin/css/public.css" media="all" />
</head>
<body class="childrenBody">
<input type="hidden" class="layui-input id" name="id" lay-verify="required">
<form class="layui-form">

			<div class="layui-inline">
				<div class="layui-input-inline">
				</div>
			</div>
			<shiro:hasPermission name="funding:del">
				<div class="layui-inline">
					<a class="layui-btn layui-btn-normal addNews_btn">添加配额</a>
				</div>
			</shiro:hasPermission>
	<table id="FundingList" lay-filter="FundingList"></table>
		
	<!-- <shiro:hasPermission name="funding:edit">
			<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
		</shiro:hasPermission>  -->
	<!--操作-->
	<script type="text/html" id="fundingListBar">
		
		<shiro:hasPermission name="funding:del">
			<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
		</shiro:hasPermission>
	</script>
</form>
<script type="text/javascript" src="/static/admin/layui/layui.js"></script>
<script type="text/javascript" src="/static/admin/datajs/funding/fundingList.js"></script>
</body>
</html>