<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylb.dao.AdminDao">
    <resultMap type="com.ylb.entity.Admin" id="BaseResultMap">
        <id column="admin_id" property="adminId" jdbcType="INTEGER"/>
        <result column="admin_name" property="adminName" jdbcType="VARCHAR"/>
        <result column="admin_account" property="adminAccount" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="is_effect" property="isEffect" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
        <result column="admin_level" property="adminLevel" jdbcType="INTEGER"/>
        <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="admin_coding" property="adminCoding" jdbcType="VARCHAR"/>
        <result column="hand_into" property="handInto" jdbcType="DOUBLE"/>
        <result column="service_into" property="serviceInto" jdbcType="DOUBLE"/>
    </resultMap>
    <resultMap type="com.ylb.entity.Admin" id="PowerMap">
        <id column="admin_id" property="adminId" jdbcType="INTEGER"/>
        <result column="admin_name" property="adminName" jdbcType="VARCHAR"/>
        <result column="admin_account" property="adminAccount" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="is_effect" property="isEffect" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
        <result column="admin_level" property="adminLevel" jdbcType="INTEGER"/>
        <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="admin_coding" property="adminCoding" jdbcType="VARCHAR"/>
        <result column="hand_into" property="handInto" jdbcType="DOUBLE"/>
        <result column="service_into" property="serviceInto" jdbcType="DOUBLE"/>
        <collection property="roles" ofType="com.ylb.entity.Role">
            <id column="role_id" property="roleId"/>
            <result column="role_name" property="roleName"/>
            <collection property="powers" ofType="com.ylb.entity.Power">
                <id column="power_id" property="powerId"/>
                <result column="power_en_name" property="powerEnName"/>
            </collection>
        </collection>
    </resultMap>
    <insert id="addAdmin" parameterType="com.ylb.entity.Admin" useGeneratedKeys="true" keyProperty="adminId">
		insert into admin(`admin_name`,`admin_account`,`password`,`phone`,`is_effect`,`parent_id`,`admin_level`,
		`last_login_time`,`create_time`,`admin_coding`,`hand_into`,`service_into`) values (#{adminName},#{adminAccount},#{password},#{phone},#{isEffect},
		#{parentId},#{adminLevel},#{lastLoginTime},#{createTime},#{adminCoding},#{handInto},#{serviceInto})
	</insert>
    <delete id="delAdmin" parameterType="com.ylb.entity.Admin">
		delete from admin where admin_id = #{adminId}
	</delete>
    <select id="selectAdminList" resultMap="BaseResultMap">
        select
        admin_id,admin_name,admin_account,password,phone,is_effect,parent_id,admin_level,last_login_time,create_time,admin_coding,
        hand_into,service_into
        from admin where 1=1
        <if test="admin != null">
            <if test="admin.adminName != null and admin.adminName != ''">
                and admin_name like concat ('%',#{admin.adminName},'%')
            </if>
            <if test="admin.isEffect != null">
                and is_effect = #{admin.isEffect}
            </if>
            <if test="admin.phone != null and admin.phone != ''">
                and phone = #{admin.phone}
            </if>
            <if test="admin.adminAccount != null and admin.adminAccount != ''">
                and admin_account like concat ('%',#{admin.adminAccount},'%')
            </if>
        </if>
        <if test="page != null and limit != null">
            limit #{page},#{limit}
        </if>
    </select>
    <select id="getAdminCount1" resultType="INT">
        select count(1) from admin where 1=1
        AND admin_id = #{adminIdSelf}
        OR parent_id = #{adminIdSelf}
        <if test="admin != null">
            <if test="admin.adminName != null and admin.adminName != ''">
                and admin_name like concat ('%',#{admin.adminName},'%')
            </if>
            <if test="admin.isEffect != null">
                and is_effect = #{admin.isEffect}
            </if>
            <if test="admin.phone != null and admin.phone != ''">
                and phone = #{admin.phone}
            </if>
            <if test="admin.adminAccount != null and admin.adminAccount != ''">
                and admin_account like concat ('%',#{admin.adminAccount},'%')
            </if>
        </if>
    </select>
    <select id="getAdminList" resultMap="BaseResultMap">
        select
        admin_id,admin_name,admin_account,password,phone,is_effect,parent_id,admin_level,last_login_time,create_time,admin_coding,
        hand_into,service_into
        from admin
        where 1=1
        AND admin_id = #{adminIdSelf}
        OR parent_id = #{adminIdSelf}
        <if test="admin != null">
            <if test="admin.adminName != null and admin.adminName != ''">
                and admin_name like concat ('%',#{admin.adminName},'%')
            </if>
            <if test="admin.isEffect != null">
                and is_effect = #{admin.isEffect}
            </if>
            <if test="admin.phone != null and admin.phone != ''">
                and phone = #{admin.phone}
            </if>
            <if test="admin.adminAccount != null and admin.adminAccount != ''">
                and admin_account like concat ('%',#{admin.adminAccount},'%')
            </if>
        </if>
        <if test="page != null and limit != null">
            limit #{page},#{limit}
        </if>
    </select>
    <select id="selectAdminCount" resultType="INT">
        select count(1) from admin where 1=1
        <if test="admin != null">
            <if test="admin.adminName != null and admin.adminName != ''">
                and admin_name like concat ('%',#{admin.adminName},'%')
            </if>
            <if test="admin.isEffect != null">
                and is_effect = #{admin.isEffect}
            </if>
            <if test="admin.phone != null and admin.phone != ''">
                and phone = #{admin.phone}
            </if>
            <if test="admin.adminAccount != null and admin.adminAccount != ''">
                and admin_account like concat ('%',#{admin.adminAccount},'%')
            </if>
        </if>
    </select>
    <update id="updateAdmin" parameterType="com.ylb.entity.Admin">
        update admin
        <set>
            <if test="adminName != null and adminName != ''">
                admin_name = #{adminName},
            </if>
            <if test="adminAccount != null and adminAccount != ''">
                admin_account = #{adminAccount},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="adminLevel != null">
                admin_level = #{adminLevel},
            </if>
            <if test="isEffect != null">
                is_effect = #{isEffect},
            </if>
            <if test="lastLoginTime != null">
                last_login_time = #{lastLoginTime},
            </if>
            <if test="adminCoding != null">
                admin_coding = #{adminCoding},
            </if>
             <if test="handInto != null">
                hand_into = #{handInto},
            </if>
            <if test="serviceInto != null">
            	service_into = #{serviceInto},
            </if>
        </set>
        where admin_id = #{adminId}
    </update>
    <select id="getAdminById" resultMap="BaseResultMap">
        select
        admin_id,admin_name,admin_account,password,phone,is_effect,parent_id,admin_level,last_login_time,create_time,admin_coding,
        hand_into,service_into
        from admin where 1=1
        <if test="adminId != null">
            and admin_id = #{adminId}
        </if>
        <if test="adminAccount != null and adminAccount != ''">
            and admin_account = #{adminAccount}
        </if>
        <if test="password != null and password != ''">
            and password = #{password}
        </if>
    </select>
    <select id="selectAdminCountByAccount" resultType="INT">
        select count(1) from admin where 1=1
        <if test="adminAccount != null and adminAccount != ''">
            and admin_account = #{adminAccount}
        </if>
        <if test="isEffect != null">
            and is_effect = #{isEffect}
        </if>
    </select>
    <select id="checkIsAlreadyCount" resultType="INT">
        select count(1) from admin where 1=1
        <if test="adminId != null">
            and admin_id &lt;&gt;#{adminId}
        </if>
        <if test="adminAccount != null and adminAccount != ''">
            and admin_account = #{adminAccount}
        </if>
    </select>
    <select id="findAdminByAccount" resultMap="PowerMap">
		SELECT a.*,r.*,p.* FROM admin a inner join admin_role ar on ar.admin_id=a.admin_id
        inner join role r on r.role_id=ar.role_id
        inner join role_power pr on pr.role_id=r.role_id
        inner join power p on pr.power_id=p.power_id
        WHERE admin_account=#{adminAccount}
	</select>

    <sql id="admin">
		admin_id,admin_name,admin_account,password,phone,is_effect,parent_id,admin_level,last_login_time,create_time,admin_coding,
		hand_into,service_into
	</sql>
    <!-- 查询自己和所属的子代理 -->
    <select id="getByMyAndSonList" resultMap="BaseResultMap">

    </select>
    <!--获取admin总数-->
    <select id="getAdminCount" resultType="INT">
		SELECT COUNT(admin_id) from admin
	</select>
    <!--获取当前代理和下级代理-->
    <select id="findAdminList" resultMap="BaseResultMap">
        SELECT
        <include refid="admin"/>
        from admin
        where admin_id = #{adminId}
        or parent_id = #{parentId}
    </select>
    <!--获取所有代理-->
    <select id="findAdminListAll" resultMap="BaseResultMap">
        SELECT
        <include refid="admin"/>
        from admin
    </select>

    <select id="selectAdmin" resultMap="BaseResultMap">
        SELECT
        <include refid="admin"/>
        from admin
        where admin_id = #{adminId}
    </select>

    <select id="selectAdminCoding" resultMap="BaseResultMap">
        SELECT
        <include refid="admin"/>
        from admin
        where admin_coding = #{adminCoding}
    </select>

    <select id="selectAdminPhone" resultMap="BaseResultMap">
        SELECT
        <include refid="admin"/>
        from admin
        where phone = #{phone}
    </select>

</mapper>