BODY {
	
}
HTML {
	
}
BODY {
	BACKGROUND-COLOR: #f5f6f7
}
.banner {
	HEIGHT: 350px; POSITION: relative
}
.banner .wrapper {
	POSITION: relative
}
.banner-slide {
	POSITION: absolute; LEFT: 0px; TOP: 0px
}
.banner-slide .hd {
	WIDTH: 100%; POSITION: absolute; Z-INDEX: 2; BOTTOM: 30px
}
.banner-slide .hd UL {
	TEXT-ALIGN: center
}
.banner-slide .hd LI {
	CURSOR: pointer; HEIGHT: 6px; WIDTH: 55px; BACKGROUND: #ddd; MARGIN: 0px 5px; DISPLAY: inline-block
}
.banner-slide .hd LI.on {
	BACKGROUND-COLOR: #fff
}
.banner-slide {
	HEIGHT: 100%; WIDTH: 100%
}
.banner-slide .bd UL {
	HEIGHT: 100%; WIDTH: 100%
}
.banner-slide .bd LI {
	HEIGHT: 100%; WIDTH: 100%
}
.banner-slide .bd LI {
	POSITION: absolute; LEFT: 0px; TOP: 0px
}
.banner-slide A {
	HEIGHT: 350px; WIDTH: 100%; DISPLAY: block
}
.banner .popbox {
	WIDTH: 280px; FLOAT: right; TEXT-ALIGN: center; MARGIN: 42px 0px 0px; BACKGROUND-COLOR: #fff; border-radius: 15px
}
.banner .popbox .head {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px
}
.banner .popbox .head .slogan {
	FONT-SIZE: 18px; COLOR: #544f56; PADDING-BOTTOM: 0px; PADDING-TOP: 35px; PADDING-LEFT: 0px; LINE-HEIGHT: 40px; PADDING-RIGHT: 0px
}
.banner .popbox .head H1 {
	FONT-SIZE: 24px; COLOR: #5d5d5d; LINE-HEIGHT: 1.1
}
.banner .popbox .head P {
	FONT-SIZE: 12px; COLOR: #848d88; LINE-HEIGHT: 4.8
}
.banner .popbox .bottom {
	PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND-COLOR: #eff1f0; border-radius: 0 0 15px 15px; box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.1)
}
.banner .popbox .bottom .btn-block {
	WIDTH: 100%; TEXT-ALIGN: center; DISPLAY: block; border-radius: 5px; transition: background .3s
}
.banner .popbox .bottom .btn-block:hover {
	BACKGROUND-COLOR: #f67d35
}
.banner .popbox .bottom .btn-primary {
	FONT-SIZE: 16px; COLOR: #fff; LINE-HEIGHT: 42px; BACKGROUND-COLOR: #e7a041
}
.banner .popbox .bottom .btn-apply {
	FONT-SIZE: 16px; COLOR: #fff; LINE-HEIGHT: 42px; BACKGROUND-COLOR: #f67c33
}
.banner .popbox .bottom .btn-apply:hover {
	BACKGROUND-COLOR: #f65c54
}
.banner .popbox .bottom .tips {
	FONT-SIZE: 12px; MARGIN-TOP: 8px; LINE-HEIGHT: 42px
}
.advantage {
	PADDING-BOTTOM: 30px; PADDING-TOP: 30px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND-COLOR: #f6f6f6
}
.advantage .item {
	WIDTH: 265px; FLOAT: left
}
.advantage .last.item {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.advantage .item .media-object {
	FLOAT: left; MARGIN: 0px 10px 0px 0px
}
.advantage .item .media-body {
	OVERFLOW: hidden
}
.advantage .item .media-body .txt {
	COLOR: #999
}
.advantage .item .media-body .tit {
	FONT-SIZE: 16px; COLOR: #323232; LINE-HEIGHT: 1.8
}
.workflow {
	MARGIN-BOTTOM: 15px
}
.workflow .side {
	HEIGHT: 120px; WIDTH: 242px; BACKGROUND: url(workflow-tit.gif) no-repeat; FLOAT: left
}
.workflow .main {
	OVERFLOW: hidden; WIDTH: auto; PADDING-BOTTOM: 0px; PADDING-TOP: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px
}
.workflow .main UL {
	MARGIN-LEFT: -20px
}
.workflow .main LI {
	WIDTH: 93px; FLOAT: left; TEXT-ALIGN: center
}
.main-section {
	MARGIN-BOTTOM: 20px; BORDER-TOP: #cecece 1px solid; BORDER-RIGHT: #cecece 1px solid; BORDER-BOTTOM: #cecece 1px solid; BORDER-LEFT: #cecece 1px solid; BACKGROUND-COLOR: #fff
}
.main-section .left-side {
	BORDER-RIGHT: #efefef 1px solid; WIDTH: 550px; FLOAT: left
}
.main-section .left-side .announce {
	MARGIN-BOTTOM: 15px; WIDTH: 260px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px
}
.main-section .left-side .announce .hd A {
	FLOAT: right; COLOR: #adadad; LINE-HEIGHT: 40px
}
.main-section .left-side .announce .hd A:hover {
	COLOR: #ec5e5c
}
.main-section .left-side .announce .lists {
	MARGIN-BOTTOM: 10px
}
.main-section .left-side .announce .lists LI A {
	FONT-SIZE: 14px; OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; COLOR: #333; DISPLAY: block; LINE-HEIGHT: 30px
}
.main-section .left-side .announce .lists LI A:hover {
	COLOR: #ec5e5c
}
.main-section .left-side .guide {
	BORDER-RIGHT: #efefef 1px solid; WIDTH: 228px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px
}
.main-section .left-side .guide .figure {
	PADDING-BOTTOM: 10px; TEXT-ALIGN: center; PADDING-TOP: 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.main-section .left-side .guide .text {
	COLOR: #666; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; LINE-HEIGHT: 1.7; PADDING-RIGHT: 10px
}
.main-section .left-side .guide .btn {
	FONT-SIZE: 14px; BORDER-TOP: #f76d6c 1px solid; BORDER-RIGHT: #f76d6c 1px solid; WIDTH: 150px; BORDER-BOTTOM: #f76d6c 1px solid; COLOR: #f76d6c; TEXT-ALIGN: center; BORDER-LEFT: #f76d6c 1px solid; MARGIN: 10px auto; DISPLAY: block; LINE-HEIGHT: 30px; border-radius: 5px; transition: all .3s
}
.main-section .left-side .guide .btn:hover {
	COLOR: #fff; BACKGROUND-COLOR: #f76d6c
}
.main-section .right-side {
	OVERFLOW: hidden
}
.section-stock {
	OVERFLOW: hidden; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 20px; MARGIN: 10px; PADDING-RIGHT: 20px; BACKGROUND-COLOR: #f7f7f7
}
.section-stock .stock-hd {
	FONT-SIZE: 20px; HEIGHT: 44px; BORDER-BOTTOM: #909090 1px dotted; PADDING-TOP: 10px; LINE-HEIGHT: 44px
}
.section-stock .stock-hd .btn-apply {
	FONT-SIZE: 14px; HEIGHT: 28px; MARGIN-TOP: 8px; FLOAT: right; COLOR: #fff; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 15px; LINE-HEIGHT: 28px; PADDING-RIGHT: 15px; BACKGROUND-COLOR: #e32c2c; border-radius: 3px; transition: background .3s
}
.section-stock .stock-hd .btn-blue.btn-apply {
	BACKGROUND-COLOR: #4196db
}
.section-stock .stock-hd .btn-red.btn-apply {
	BACKGROUND-COLOR: #db4a4b
}
.section-stock .stock-hd .btn-apply:hover {
	BACKGROUND-COLOR: #f67d35
}
.section-stock .stock-description {
	COLOR: #999; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; FONT: 14px/25px "Microsoft Yahei"; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.section-stock .stock-meta .item {
	WIDTH: 230px; FLOAT: left; COLOR: #666; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 12px
}
.section-stock .item .icon {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.section-stock .level {
	WIDTH: 358px; FLOAT: left; COLOR: #666; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.section-stock .level .icon {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.section-stock .txt-error {
	COLOR: red
}
.section-stock .tag {
	WIDTH: 38px; FLOAT: right; PADDING-TOP: 15px; MARGIN-RIGHT: 10px
}
.steps {
	PADDING-BOTTOM: 10px; PADDING-TOP: 30px; PADDING-LEFT: 0px; MARGIN: 20px 0px; PADDING-RIGHT: 0px
}
.steps .hd {
	MARGIN-BOTTOM: 30px; TEXT-ALIGN: center
}
.steps .hd H1 {
	FONT-SIZE: 22px; HEIGHT: 63px; WIDTH: 225px; BACKGROUND: url(h1bg.png) no-repeat; COLOR: #fff; DISPLAY: inline-block; LINE-HEIGHT: 50px
}
.steps .bd {
	MARGIN-LEFT: -10px; BACKGROUND-COLOR: #fff
}
.steps .bd .step {
	BORDER-TOP: #e8e8e8 1px solid; BORDER-RIGHT: #e8e8e8 1px solid; WIDTH: 200px; BORDER-BOTTOM: #e8e8e8 1px solid; FLOAT: left; PADDING-BOTTOM: 20px; TEXT-ALIGN: center; PADDING-TOP: 20px; PADDING-LEFT: 12px; BORDER-LEFT: #e8e8e8 1px solid; MARGIN: 10px; PADDING-RIGHT: 12px
}
.steps .bd .step .num {
	FONT-SIZE: 30px; FONT-WEIGHT: 700; COLOR: #e42930; TEXT-ALIGN: left; LINE-HEIGHT: 40px; TEXT-INDENT: 20px
}
.steps .bd .yellow.step .num {
	COLOR: #faac3a
}
.steps .bd .step .icon {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.steps .bd .step .tit {
	FONT-SIZE: 16px; LINE-HEIGHT: 30px
}
.steps .bd .step .txt {
	FONT-SIZE: 12px; MARGIN-BOTTOM: 20px; LINE-HEIGHT: 2
}
.steps .bd .gutter {
	HEIGHT: 266px; WIDTH: 42px; BACKGROUND: url(step-arrow.gif) no-repeat center center; FLOAT: left
}
.steps .ft .btn {
	FONT-SIZE: 24px; HEIGHT: 54px; WIDTH: 245px; COLOR: #fff; TEXT-ALIGN: center; MARGIN: 20px auto; DISPLAY: block; LINE-HEIGHT: 54px; BACKGROUND-COLOR: #dc4a4b
}
.main {
	WIDTH: 700px; FLOAT: left
}
.side {
	OVERFLOW: hidden; WIDTH: 280px; FLOAT: right
}
.mn-body {
	BACKGROUND-COLOR: #f7f7f7
}
.bgfff {
	BACKGROUND: #fff
}
.newyear {
	HEIGHT: 40px; BACKGROUND: #ffeedd; BORDER-BOTTOM: #f30 1px solid; TEXT-ALIGN: center
}
.newyear OL {
	WIDTH: 1200px; PADDING-LEFT: 10px; MARGIN: 0px auto
}
.newyear OL LI {
	FONT-SIZE: 12px; COLOR: #f30; LINE-HEIGHT: 40px
}
.pb01 {
	MARGIN-BOTTOM: 15px; HEIGHT: 120px; BORDER-RIGHT: #eee 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid
}
.pb01 UL LI {
	OVERFLOW: hidden; HEIGHT: 64px; WIDTH: 229px; BACKGROUND: url(border-right.png) no-repeat 222px 14px; FLOAT: left; PADDING-TOP: 10px; MARGIN: 20px 10px 20px 0px
}
#i-two {
	FONT-SIZE: 12px; MARGIN-TOP: 7px; COLOR: #666; MARGIN-LEFT: 5px
}
.pb01 UL LI I {
	HEIGHT: 16px; WIDTH: 16px; MARGIN-TOP: 3px; BACKGROUND-POSITION: 0px -321px; MARGIN-LEFT: 10px; DISPLAY: block; MARGIN-RIGHT: 10px
}
.pb01 UL LI I.s1 {
	BACKGROUND-POSITION: -6px -62px
}
.pb01 UL LI I.s2 {
	BACKGROUND-POSITION: -84px -62px
}
.pb01 UL LI I.s3 {
	BACKGROUND-POSITION: -163px -62px
}
.pb01 UL LI I.s4 {
	BACKGROUND-POSITION: -243px -62px
}
.pb01 UL LI SPAN {
	FONT-SIZE: 22px; FLOAT: left; COLOR: #f67c33; PADDING-TOP: 7px; MARGIN-LEFT: 35px
}
.pb01 UL LI STRONG {
	COLOR: #777; FONT: 600 16px/18px "Microsoft YaHei", tahoma, arial; MARGIN-RIGHT: 80px
}
.pb01 UL LI STRONG SPAN {
	FONT-SIZE: 14px; MARGIN-TOP: -5px; FONT-WEIGHT: 300; COLOR: #666; PADDING-TOP: 2px
}
.pb01 UL LI SPAN SPAN {
	FONT-SIZE: 14px; MARGIN-TOP: -2px; FLOAT: right; COLOR: #666; MARGIN-LEFT: 2px
}
.pb1 {
	MARGIN-BOTTOM: 20px; BORDER-TOP: #eee 1px solid; HEIGHT: 130px; BORDER-RIGHT: #eee 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid
}
.pb1 UL LI {
	OVERFLOW: hidden; HEIGHT: 80px; WIDTH: 249px; BACKGROUND: url(border-right.png) no-repeat right 14px; FLOAT: left; PADDING-TOP: 10px; MARGIN: 22px 10px 18px 30px
}
.pb1 UL LI I {
	HEIGHT: 50px; WIDTH: 50px; POSITION: relative; DISPLAY: block; MARGIN-RIGHT: 10px
}
.pb1 UL LI I.s1 {
	BACKGROUND-POSITION: 0px -349px; LEFT: 5px; TOP: 10px
}
.pb1 UL LI I.s2 {
	BACKGROUND-POSITION: -53px -349px; TOP: 11px
}
.pb1 UL LI I.s3 {
	BACKGROUND-POSITION: -116px -349px; TOP: 11px
}
.pb1 UL LI I.s4 {
	BACKGROUND-POSITION: -173px -349px; TOP: 10px
}
.pb1 UL LI SPAN {
	FONT-SIZE: 16px; FLOAT: left; FONT-WEIGHT: bold; COLOR: #303030; PADDING-TOP: 9px
}
.pb1 UL LI STRONG {
	COLOR: #777; FONT: 600 16px/18px "Microsoft YaHei", tahoma, arial; DISPLAY: block
}
.pb1 UL LI STRONG SPAN {
	FONT-SIZE: 14px; FONT-WEIGHT: 300; COLOR: #666; PADDING-TOP: 5px
}
.conslinks {
	HEIGHT: 305px; WIDTH: 100%
}
.conbox {
	MARGIN-RIGHT: -16px
}
.content-link {
	BORDER-TOP: #eee 1px solid; HEIGHT: 305px; BORDER-RIGHT: #eee 1px solid; WIDTH: 286px; BACKGROUND: #fff; BORDER-BOTTOM: #eee 1px solid; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 50px; BORDER-LEFT: #eee 1px solid; PADDING-RIGHT: 50px; MARGIN-RIGHT: 17px
}
.contfonts {
	TEXT-ALIGN: center
}
.contfonts .ones {
	FONT-SIZE: 20px; FONT-FAMILY: "΢���ź�"; FONT-WEIGHT: 600; COLOR: #f67c33
}
.contfonts .blue.ones {
	COLOR: #3099fb
}
.contfonts .twos {
	FONT-SIZE: 15px; COLOR: #666666; PADDING-TOP: 10px
}
.contfonts .threes {
	FONT-SIZE: 15px; COLOR: #666666; PADDING-BOTTOM: 25px; PADDING-TOP: 10px
}
.contfonts .fours {
	FONT-SIZE: 16px; FONT-FAMILY: "΢���ź�"; FONT-WEIGHT: 700; COLOR: #f67c33
}
.contfonts .blue.fours {
	COLOR: #3099fb
}
.content-link I {
	WIDTH: 60px; MARGIN-TOP: 35px; FLOAT: left; PADDING-TOP: 80px; PADDING-LEFT: 220px
}
#srcs {
	MARGIN-LEFT: 0px
}
.content-link1 I {
	BACKGROUND: url(free.png) no-repeat center 50%
}
.content-link2 I {
	BACKGROUND: url(day.png) no-repeat center 50%
}
.content-link3 I {
	BACKGROUND: url(week.png) no-repeat center 50%
}
.content-link4 I {
	BACKGROUND: url(month.png) no-repeat center 50%
}
.pb3 {
	MARGIN-BOTTOM: 15px; HEIGHT: 410px; BACKGROUND: #fff; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.pb3 H3 {
	OVERFLOW: hidden; HEIGHT: 58px; FONT: 18px/36px "Microsoft YaHei", tahoma, arial
}
.pb3 .pb3-r H3 {
	FONT-SIZE: 20px; WIDTH: 240px; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.pb3 .pb3-r H3 P {
	MARGIN-TOP: -9px
}
.pb3 .pb3-r H3 SPAN {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Geneva, sans-serif; BACKGROUND: #fff; FONT-WEIGHT: 300; COLOR: #fff; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; MARGIN-RIGHT: 10px; border-radius: 3px
}
.pb3 .pb3-r H3 SPAN.s1 {
	BORDER-TOP: #fa5546 1px solid; BORDER-RIGHT: #fa5546 1px solid; BORDER-BOTTOM: #fa5546 1px solid; COLOR: #fa5546; BORDER-LEFT: #fa5546 1px solid
}
.pb3 .pb3-r H3 SPAN.s2 {
	BORDER-TOP: #f69c00 1px solid; BORDER-RIGHT: #f69c00 1px solid; BORDER-BOTTOM: #f69c00 1px solid; COLOR: #f69c00; BORDER-LEFT: #f69c00 1px solid
}
.pb3 .pb3-r H3 SPAN.s3 {
	BORDER-TOP: #6699cc 1px solid; BORDER-RIGHT: #6699cc 1px solid; BORDER-BOTTOM: #6699cc 1px solid; COLOR: #6699cc; BORDER-LEFT: #6699cc 1px solid
}
.pb3-r .xs {
	BACKGROUND: no-repeat 0px 0px
}
.pb3 .pb3-n H3 {
	MARGIN-BOTTOM: 0px; BACKGROUND: url(../img/miniu/bg03.png) no-repeat 90px -102px; BORDER-BOTTOM: #eee 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; MARGIN-LEFT: 10px
}
.pb3-l {
	HEIGHT: 380px; WIDTH: 215px; BACKGROUND: url(/Style/New/bg05-1.png) no-repeat; POSITION: relative; FLOAT: left
}
.pb3-l H2 {
	FONT-SIZE: 20px; POSITION: absolute; COLOR: #fff; LEFT: 55px; TOP: 22px
}
.pb3-l H2 A {
	COLOR: #fff
}
.pb3-l H2 A:hover {
	COLOR: #ffc
}
.pb3-l .more {
	WIDTH: 120px; BACKGROUND: #fff; POSITION: absolute; COLOR: #f9665c; PADDING-BOTTOM: 5px; TEXT-ALIGN: center; PADDING-TOP: 5px; PADDING-LEFT: 5px; LEFT: 35px; DISPLAY: block; LINE-HEIGHT: 23px; TOP: 320px; PADDING-RIGHT: 5px; border-radius: 3px
}
.pb3-l A.more:hover {
	TEXT-DECORATION: none; BACKGROUND: #ec5f55; COLOR: #fff
}
.pb3-l UL {
	FONT-SIZE: 14px; WIDTH: 160px; POSITION: absolute; COLOR: #fff; TEXT-ALIGN: center; LEFT: 19px; LINE-HEIGHT: 20px; TOP: 230px
}
.pb3-r {
	HEIGHT: 380px; WIDTH: 880px; MARGIN-TOP: 20px; FLOAT: left
}
.pb3-r H4 {
	MARGIN-BOTTOM: 10px; HEIGHT: 40px; WIDTH: 100%; BORDER-BOTTOM: #eee 1px solid; POSITION: relative; COLOR: #333; FONT: 400 16px/40px "Microsoft YaHei", tahoma, arial
}
.pb3-r H4 A {
	HEIGHT: 40px; RIGHT: 5px; POSITION: absolute; COLOR: #999; FONT: 300 12px/40px "Microsoft YaHei", tahoma, arial; TOP: 0px
}
.pb3-r H4 A:hover {
	COLOR: #f60
}
.pb3-r .c {
	BORDER-RIGHT: #eee 1px solid; WIDTH: 262px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px
}
.pb3-r .mr0 {
	BORDER-RIGHT: 0px; MARGIN-RIGHT: 0px
}
.pb3-r DL {
	HEIGHT: 235px; WIDTH: 240px
}
.pb3-r DL DT {
	MARGIN-BOTTOM: 15px; HEIGHT: 85px; BORDER-BOTTOM: #eee 1px solid; POSITION: relative
}
.pb3-r DL DT .l {
	WIDTH: 100px; FLOAT: left; MARGIN: 10px
}
.pb3-r DL DT .l STRONG {
	FONT-SIZE: 20px; FONT-WEIGHT: 300; COLOR: #333; PADDING-TOP: 15px; DISPLAY: block; LINE-HEIGHT: 32px
}
.pb3-r DL DT .l STRONG SPAN {
	FONT-SIZE: 22px
}
.pb3-r DL DT LABEL {
	FONT-SIZE: 14px; COLOR: #999
}
.pb3-r DL DT .r {
	WIDTH: 90px; FLOAT: right; TEXT-ALIGN: right; PADDING-RIGHT: 10px
}
.pb3-r DL DT .r STRONG {
	FONT-SIZE: 50px; FONT-WEIGHT: 300; COLOR: #f55136; PADDING-TOP: 15px; DISPLAY: block; LINE-HEIGHT: 30px
}
.pb3-r DL DT .r STRONG SPAN {
	FONT-SIZE: 14px; COLOR: #666
}
.pb3-r DL DT I {
	HEIGHT: 23px; WIDTH: 41px; BACKGROUND: url(../img/miniu/bg73.png) no-repeat; POSITION: absolute; TEXT-ALIGN: center; LEFT: 93px; TOP: -3px
}
.pb3-r DL DT I SPAN {
	FONT-SIZE: 12px; COLOR: #fff; FONT-STYLE: normal; LINE-HEIGHT: 20px; PADDING-RIGHT: 4px
}
.pb3-r DL DD {
	PADDING-LEFT: 5px; LINE-HEIGHT: 32px; PADDING-RIGHT: 5px
}
.pb3-r DL DD SPAN {
	FLOAT: right; COLOR: #999
}
.pb3-r DL DD SPAN EM {
	COLOR: #333; FONT-STYLE: normal; MARGIN-RIGHT: 5px
}
.pb3-r DL DD LABEL {
	FONT-SIZE: 14px; COLOR: #999
}
.pb3-r DL DD P {
	FONT-SIZE: 12px; OVERFLOW: hidden; HEIGHT: 30px; BACKGROUND: url(/Style/New/bg03.png) no-repeat left -176px; COLOR: #999; PADDING-LEFT: 22px; LINE-HEIGHT: 30px
}
.pb3-r DL DD.bt1px {
	BORDER-TOP: #eee 1px solid; HEIGHT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; PADDING-LEFT: 10px; LINE-HEIGHT: 30px; PADDING-RIGHT: 10px
}
.pb3-r DL DD .prop {
	OVERFLOW: hidden; HEIGHT: 8px; BACKGROUND: #eee; MARGIN: 20px 0px 0px; border-radius: 5px
}
.pb3-r DL DD .prop I {
	HEIGHT: 10px; WIDTH: 30%; BACKGROUND: #339ee2 0px 0px; DISPLAY: block; transition: width 0.5s ease-in 0s
}
.pb3-r .btn-mn {
	FONT-SIZE: 14px; CURSOR: pointer; BORDER-TOP: #fa665c 1px solid; HEIGHT: 32px; FONT-FAMILY: "Microsoft YaHei", tahoma, arial; BORDER-RIGHT: #fa665c 1px solid; WIDTH: 130px; BACKGROUND: #fff; MARGIN-TOP: 10px; BORDER-BOTTOM: #fa665c 1px solid; COLOR: #fa665c; TEXT-ALIGN: center; MARGIN-LEFT: 58px; BORDER-LEFT: #fa665c 1px solid; DISPLAY: inline-block; LINE-HEIGHT: 32px; border-radius: 3px
}
.pb3-r .btn-mn:hover {
	BACKGROUND: #fa665c; COLOR: #fff
}
.pb3-r .disabled {
	BORDER-TOP: #e5e5e5 1px solid; BORDER-RIGHT: #e5e5e5 1px solid; BACKGROUND: #e5e5e5; BORDER-BOTTOM: #e5e5e5 1px solid; COLOR: #989898; BORDER-LEFT: #e5e5e5 1px solid
}
.pb3-r .disabled:hover {
	BORDER-TOP: #e5e5e5 1px solid; BORDER-RIGHT: #e5e5e5 1px solid; BACKGROUND: #e5e5e5; BORDER-BOTTOM: #e5e5e5 1px solid; COLOR: #989898; BORDER-LEFT: #e5e5e5 1px solid
}
.pb3-n {
	HEIGHT: 380px; WIDTH: 263px; FLOAT: right; BORDER-LEFT: #efefef 1px solid; MARGIN-RIGHT: 10px
}
.pb3-n .c {
	OVERFLOW: hidden; HEIGHT: 330px; POSITION: relative
}
.pb3-n OL {
	FONT-SIZE: 12px; OVERFLOW: hidden; HEIGHT: auto; WIDTH: 100%; POSITION: absolute; LEFT: 0px; MARGIN: 0px; TOP: 0px
}
.pb3-n OL LI {
	FONT-SIZE: 12px; OVERFLOW: hidden; HEIGHT: 35px; BORDER-BOTTOM: #eee 1px dashed; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; MARGIN-LEFT: 10px; LINE-HEIGHT: 40px; PADDING-RIGHT: 5px
}
.pb3-n OL LI SPAN {
	FLOAT: left; COLOR: #666; MARGIN-RIGHT: 5px
}
.pb3-n OL LI I {
	FLOAT: left; COLOR: #f90; FONT-STYLE: normal; MARGIN-RIGHT: 10px
}
.pb3-n OL LI STRONG {
	FLOAT: right; FONT-WEIGHT: 300; COLOR: #ec4031
}
.pb4 {
	MARGIN-BOTTOM: 15px; HEIGHT: 360px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.pb4-l {
	HEIGHT: 380px; WIDTH: 215px; BACKGROUND: url(/Style/New/bg08.png) no-repeat; POSITION: relative; FLOAT: left; MARGIN-RIGHT: 10px
}
.pb4-l H2 {
	POSITION: absolute; COLOR: #fff; LEFT: 35px; TOP: 35px
}
.pb4-l .l30 {
	FONT-SIZE: 20px; POSITION: absolute; COLOR: #fff; LEFT: 55px; TOP: 22px
}
.pb4-l UL {
	FONT-SIZE: 14px; WIDTH: 160px; POSITION: absolute; COLOR: #fff; TEXT-ALIGN: center; LEFT: 19px; LINE-HEIGHT: 20px; TOP: 233px
}
.pb4-l .more {
	WIDTH: 120px; BACKGROUND: #fff; POSITION: absolute; COLOR: #3792c1; PADDING-BOTTOM: 5px; TEXT-ALIGN: center; PADDING-TOP: 5px; PADDING-LEFT: 5px; LEFT: 35px; DISPLAY: block; TOP: 320px; PADDING-RIGHT: 5px; border-radius: 3px
}
.pb4-l A.more:hover {
	TEXT-DECORATION: none; BACKGROUND: #3991c3; COLOR: #fff
}
.pb4-r {
	WIDTH: 455px; BACKGROUND: url(/Style/New/bg07.png) no-repeat; FLOAT: left; PADDING-TOP: 5px
}
.pb4-r DL {
	OVERFLOW: hidden; MARGIN-BOTTOM: 15px; HEIGHT: 115px; PADDING-LEFT: 30px
}
.pb4-r DL DT {
	LINE-HEIGHT: 26px
}
.pb4-r DL DT A {
	FONT-SIZE: 16px; COLOR: #333
}
.pb4-r DL DT A:hover {
	COLOR: #f30
}
.pb4-r DL DT SPAN {
	FONT-SIZE: 12px; COLOR: #999; MARGIN-LEFT: 20px
}
.pb4-r DL DD {
	HEIGHT: 30px; WIDTH: 200px; FLOAT: left; PADDING-TOP: 10px; LINE-HEIGHT: 30px
}
.pb4-r DL DD STRONG {
	FONT-SIZE: 20px; FONT-WEIGHT: 300; COLOR: #f30; MARGIN-RIGHT: 10px
}
.pb4-r DL DD SPAN {
	FONT-SIZE: 12px; COLOR: #666
}
.pb4-r DL DD.s2 {
	WIDTH: 180px; TEXT-ALIGN: center; MARGIN-LEFT: 40px
}
.pb4-r DL DD.s2 STRONG {
	FONT-SIZE: 12px; MARGIN-RIGHT: 3px
}
.pb4-r DL DD.s3 {
	WIDTH: 130px; TEXT-ALIGN: center; PADDING-TOP: 10px
}
.pb4-r DL DD .btn-mn {
	CURSOR: pointer; BORDER-TOP: #61b2e1 1px solid; HEIGHT: 32px; FONT-FAMILY: "Microsoft YaHei", tahoma, arial; BORDER-RIGHT: #61b2e1 1px solid; WIDTH: 128px; BACKGROUND: #fff; BORDER-BOTTOM: #61b2e1 1px solid; COLOR: #61b2e1; BORDER-LEFT: #61b2e1 1px solid; border-radius: 3px
}
.pb4-r DL DD .btn-mn:hover {
	BORDER-TOP: #61b2e1 1px solid; BORDER-RIGHT: #61b2e1 1px solid; BACKGROUND: #61b2e1; BORDER-BOTTOM: #61b2e1 1px solid; COLOR: #fff; BORDER-LEFT: #61b2e1 1px solid
}
.pb4-r DL DD .disabled {
	BORDER-TOP: #e5e5e5 1px solid; BORDER-RIGHT: #e5e5e5 1px solid; BACKGROUND: #e5e5e5; BORDER-BOTTOM: #e5e5e5 1px solid; COLOR: #989898; BORDER-LEFT: #e5e5e5 1px solid
}
.pb4-r DL DD .disabled:hover {
	BORDER-TOP: #e5e5e5 1px solid; BORDER-RIGHT: #e5e5e5 1px solid; BACKGROUND: #e5e5e5; BORDER-BOTTOM: #e5e5e5 1px solid; COLOR: #989898; BORDER-LEFT: #e5e5e5 1px solid
}
.pb4 .top10 {
	HEIGHT: 382px; WIDTH: 305px; BACKGROUND: url(/Style/New/bg061.png) no-repeat; FLOAT: right
}
.pb4 .top10 H2 {
	FONT-SIZE: 12px; OVERFLOW: hidden; HEIGHT: 50px; FONT-WEIGHT: 300; TEXT-ALIGN: right; LINE-HEIGHT: 50px; PADDING-RIGHT: 10px
}
.pb4 .top10 H2 SPAN {
	FONT-SIZE: 12px; COLOR: #f30
}
.pb4 .top10 H3 {
	OVERFLOW: hidden; HEIGHT: 35px; COLOR: #fff; TEXT-ALIGN: center; FONT: 16px/33px "Microsoft YaHei", tahoma, arial
}
.pb4 .boxM {
	MARGIN: 0px 5px 0px 18px
}
.pb4 .rankingList {
	DISPLAY: inline-block
}
.pb4 .rankingList LI {
	OVERFLOW: hidden; HEIGHT: 29px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; LINE-HEIGHT: 29px; PADDING-RIGHT: 15px
}
.pb4 .rankingList LI B {
	OVERFLOW: hidden; HEIGHT: 30px; WIDTH: 120px; FLOAT: left
}
.pb4 .rankingList LI SPAN {
	FLOAT: right; TEXT-ALIGN: right; MARGIN-RIGHT: 22px
}
.pb6 {
	OVERFLOW: hidden; MARGIN-BOTTOM: 20px; HEIGHT: 350px; BACKGROUND: #fff
}
.pb6 .pb6-r .gonggaoBox .hd {
	FLOAT: right
}
.pb6 .pb6-r .gonggaoBox .bd {
	FLOAT: right
}
.pb6 .pb6-r .gonggaoBox #hd_two {
	BORDER-RIGHT: #ececec 1px solid
}
.pb6 .pb6-r .gonggaoBox #bd_two {
	BORDER-LEFT: #fff 1px solid
}
.pb6 .pb6-r .gonggaoBox .dd {
	BORDER-TOP: #eee 1px solid; HEIGHT: 348px; BORDER-RIGHT: #eee 1px solid; WIDTH: 450px; BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid
}
.pb6 .pb6-r .gonggaoBox .dd P {
	HEIGHT: 70px; WIDTH: 100%; BORDER-BOTTOM: #eee 1px solid
}
.pb6 .pb6-r .gonggaoBox .dd .dd_line {
	HEIGHT: 70px; WIDTH: 101%; BACKGROUND: #fff; BORDER-BOTTOM: #eee 1px solid
}
.pb6 .pb6-r .gonggaoBox .dd P SPAN {
	FONT-SIZE: 18px; FLOAT: left; COLOR: #333333; PADDING-TOP: 22px; PADDING-LEFT: 30px
}
.pb6 .pb6-r .gonggaoBox .dd P A {
	FLOAT: left; COLOR: #fab868; PADDING-TOP: 26px; PADDING-LEFT: 15px
}
.pb6 .pb6-r .gonggaoBox .dd P A:hover {
	COLOR: red
}
.pb6 .pb6-r .gonggaoBox .hd > SPAN {
	WIDTH: 590px; MARGIN-TOP: 15px; FLOAT: left; LINE-HEIGHT: 85px
}
.pb6 .pb6-r .gonggaoBox .dd > SPAN {
	HEIGHT: 260px; WIDTH: 390px; MARGIN-TOP: 15px; FLOAT: left; PADDING-LEFT: 30px; LINE-HEIGHT: 32px
}
.pb6 .pb6-r .gonggaoBox .dd > SPAN > LI {
	BACKGROUND: url(li.png) no-repeat 0px 14px; PADDING-LEFT: 15px
}
.pb6 .pb6-r .gonggaoBox .dd > SPAN > LI A {
	COLOR: #666666
}
.date {
	FLOAT: right; COLOR: #999999
}
.down_load {
	BORDER-TOP: #eee 1px solid; HEIGHT: 348px; BORDER-RIGHT: 0px; WIDTH: 295px; BORDER-BOTTOM: #eee 1px solid; FLOAT: left; TEXT-ALIGN: center; BORDER-LEFT: #eee 1px solid
}
.down_load .load_top {
	WIDTH: 100%; FLOAT: left; PADDING-TOP: 30px
}
.down_load .load_top SPAN {
	FONT-SIZE: 16px; COLOR: #151515
}
.down_load .load_top P {
	FONT-SIZE: 14px; WIDTH: 190px; MARGIN-TOP: 20px; COLOR: #666666; MARGIN-LEFT: 52px; LINE-HEIGHT: 25px
}
.down_load .load_top I {
	HEIGHT: 136px; WIDTH: 145px; BACKGROUND: url(lod.png) no-repeat -9px -17px; MARGIN-TOP: 6px; FLOAT: left; MARGIN-LEFT: 80px
}
.down_load .load_top A {
	BORDER-TOP: #f89c12 1px solid; BORDER-RIGHT: #f89c12 1px solid; MARGIN-TOP: 150px; BORDER-BOTTOM: #f89c12 1px solid; FLOAT: left; COLOR: #f89c12; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 35px; MARGIN-LEFT: -143px; BORDER-LEFT: #f89c12 1px solid; PADDING-RIGHT: 35px; border-radius: 8px
}
.pb7 {
	OVERFLOW: hidden; MARGIN-BOTTOM: 20px; BORDER-TOP: #eee 1px solid; HEIGHT: 200px; BORDER-RIGHT: #eee 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid
}
.pb7-top {
	WIDTH: 98.3%; FLOAT: left; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px
}
.pb7-top UL LI {
	FONT-SIZE: 16px; HEIGHT: 138px; WIDTH: 212px; BACKGROUND: url(zf-right-icon.png) no-repeat right center; FLOAT: left; TEXT-ALIGN: center; DISPLAY: block; MARGIN-RIGHT: 22px
}
.pb7-top UL LI .icon {
	HEIGHT: 125px; WIDTH: 150px; PADDING-TOP: 20px; DISPLAY: block
}
.pb7-top UL LI .icon P {
	FONT-SIZE: 14px; COLOR: #797979; LINE-HEIGHT: 2.2
}
.pb7-top UL LI:hover {
	
}
.pb7-top UL LI:hover .icon {
	
}
.pb7-top UL LI I {
	MARGIN-BOTTOM: 12px; HEIGHT: 60px; WIDTH: 62px; POSITION: relative; LEFT: 45px; DISPLAY: block
}
.pb7-top UL LI I.icon-1 {
	BACKGROUND-POSITION: 1px -406px
}
.pb7-top UL LI:hover I.icon-1 {
	
}
.pb7-top UL LI I.icon-2 {
	BACKGROUND-POSITION: -144px -406px
}
.pb7-top UL LI I.icon-3 {
	BACKGROUND-POSITION: -72px -406px
}
.pb7-top UL LI:hover I.icon-3 {
	
}
.pb7-top UL LI I.icon-4 {
	BACKGROUND-POSITION: -216px -406px
}
.pb7-top UL LI I.icon-5 {
	BACKGROUND-POSITION: -290px -406px
}
.pb7-top UL LI:hover I.icon-5 {
	
}
.pb8 {
	MARGIN-BOTTOM: 20px; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid; WIDTH: 100%; BACKGROUND: #fff; BORDER-BOTTOM: #eee 1px solid; BORDER-LEFT: #eee 1px solid
}
.pb8 .floor-hd {
	HEIGHT: 70px; BORDER-BOTTOM: #ececec 1px solid
}
.pb8 .floor-hd H3 {
	FONT-SIZE: 18px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 40px; LINE-HEIGHT: 70px; PADDING-RIGHT: 40px
}
#indexZs DL {
	HEIGHT: 100px; WIDTH: 140px; PADDING-LEFT: 120px; MARGIN: 30px 0px 30px 50px; DISPLAY: inline-block
}
#indexZs DT {
	FONT-SIZE: 18px; COLOR: #250b0c; LINE-HEIGHT: 30px
}
#indexZs DD {
	COLOR: #888; DISPLAY: block; LINE-HEIGHT: 24px
}
.indexZs1 {
	BACKGROUND: url(../img/indexZs1.gif) no-repeat
}
.indexZs2 {
	BACKGROUND: url(../img/indexZs2.gif) no-repeat
}
.indexZs3 {
	BACKGROUND: url(../img/indexZs3.gif) no-repeat
}
.indexZsMoney {
	BORDER-TOP: #e7e7e7 1px solid; DISPLAY: block; LINE-HEIGHT: 50px
}
.indexZsMoney SPAN {
	FONT-SIZE: 16px; WIDTH: 33%; VERTICAL-ALIGN: top; TEXT-ALIGN: center; DISPLAY: inline-block
}
.indexZsMoney SPAN B {
	FONT-SIZE: 24px; COLOR: #ee2c00; PADDING-RIGHT: 5px
}
.cpdrM {
	OVERFLOW: hidden; HEIGHT: 204px; MARGIN: 5px 12px; DISPLAY: block
}
#cpdrTable {
	WIDTH: 100%; DISPLAY: inline-block
}
#cpdrTable LI {
	BORDER-BOTTOM: #e7e7e7 1px dashed; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
#cpdrTable LI P {
	OVERFLOW: hidden; HEIGHT: 30px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px
}
#cpdrTable LI .name {
	WIDTH: 160px
}
#cpdrTable LI .pt {
	WIDTH: 120px
}
#cpdrTable LI .money {
	WIDTH: 160px
}
#cpdrTable LI .time {
	WIDTH: 60px
}
#cpdrTable LI .per {
	WIDTH: 120px
}
#cpdrTable LI A {
	COLOR: #1b8bc9
}
#cpdrTable LI STRONG {
	FONT-SIZE: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
#cpdrTable LI B {
	FONT-SIZE: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
#cpdrTable LI STRONG {
	COLOR: #f60
}
#cpdrTable LI B {
	COLOR: #250b0c
}
.tbxmM {
	PADDING-BOTTOM: 20px; PADDING-TOP: 15px; PADDING-LEFT: 24px; LINE-HEIGHT: 30px; PADDING-RIGHT: 24px
}
.tbxmM H2 {
	FONT-SIZE: 16px; FONT-WEIGHT: normal; PADDING-BOTTOM: 10px; DISPLAY: block
}
.tbxmM P {
	HEIGHT: 80px; BORDER-RIGHT: #ddd 1px dashed; VERTICAL-ALIGN: top; PADDING-TOP: 5px; DISPLAY: inline-block; LINE-HEIGHT: 34px; PADDING-RIGHT: 25px; MARGIN-RIGHT: 25px
}
.tbxmM SPAN {
	COLOR: #888; DISPLAY: block; LINE-HEIGHT: 24px
}
.tbxmM P SPAN {
	COLOR: #888; PADDING-BOTTOM: 10px; DISPLAY: block
}
.tbxmM STRONG {
	COLOR: #f60; MARGIN-RIGHT: 5px
}
.tbxmM P STRONG {
	FONT-SIZE: 24px
}
.tbxmM P B {
	FONT-SIZE: 18px; COLOR: #250b0c; MARGIN-RIGHT: 5px
}
.tbxmM P.jd EM {
	OVERFLOW: hidden; HEIGHT: 34px; WIDTH: 60px; BACKGROUND: url(../img/progress.png) no-repeat; DISPLAY: inline-block; TEXT-INDENT: -999px
}
.tbxmM DIV {
	WIDTH: 140px; FLOAT: right
}
.tbxmM DIV .btn {
	FONT-SIZE: 16px; WIDTH: 100%; LINE-HEIGHT: 36px
}
.tbxmM DIV SPAN {
	PADDING-BOTTOM: 5px
}
#indexNews {
	HEIGHT: 204px
}
#indexNews LI {
	MARGIN-TOP: 3px
}
.rjxzM {
	HEIGHT: 134px
}
.rjxzM #downLogo {
	OVERFLOW: hidden; HEIGHT: 66px; BACKGROUND: url(../tmp/down.png) no-repeat center center; MARGIN: 20px 0px; DISPLAY: block; LINE-HEIGHT: 1200px
}
.rjxzM P A {
	BACKGROUND: url(../img/downIco.gif) no-repeat 0px 5px; COLOR: #1b8bc9; PADDING-LEFT: 20px; MARGIN-LEFT: 15px; DISPLAY: inline-block; LINE-HEIGHT: 30px
}
.rjxzM P A.phone {
	BACKGROUND-POSITION: 0px -35px
}
#indexLc {
	
}
.indexLcM {
	HEIGHT: 200px; BACKGROUND: url(../img/pzlc.jpg) no-repeat center center; DISPLAY: block
}
.indexLcM P {
	DISPLAY: none
}
.kjrk {
	BORDER-TOP: #e7e7e7 1px solid; PADDING-BOTTOM: 30px; TEXT-ALIGN: center; PADDING-TOP: 30px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.kjrk DL {
	BORDER-RIGHT: #e7e7e7 1px solid; WIDTH: 230px; BACKGROUND: url(../img/kjrk.gif) no-repeat; PADDING-BOTTOM: 0px; PADDING-TOP: 180px; PADDING-LEFT: 40px; DISPLAY: inline-block; PADDING-RIGHT: 40px
}
#kjrk1 {
	BACKGROUND-POSITION: 20px -10px
}
#kjrk2 {
	BACKGROUND-POSITION: -300px -10px
}
#kjrk3 {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; BACKGROUND-POSITION: -600px -10px; BORDER-LEFT: medium none
}
.kjrk P {
	FONT-SIZE: 16px; DISPLAY: block; LINE-HEIGHT: 26px
}
.kjrk P B {
	FONT-SIZE: 18px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px
}
.kjrk .btn {
	FONT-SIZE: 16px; BORDER-TOP: #e7e7e7 2px solid; BORDER-RIGHT: #e7e7e7 2px solid; WIDTH: 120px; MARGIN-TOP: 20px; BORDER-BOTTOM: #e7e7e7 2px solid; COLOR: #555 !important; BORDER-LEFT: #e7e7e7 2px solid; LINE-HEIGHT: 36px; border-radius: 4px
}
.kjrk .btn:hover {
	BORDER-TOP-COLOR: #ee2c00; BORDER-LEFT-COLOR: #ee2c00; COLOR: #ee2c00 !important; BORDER-BOTTOM-COLOR: #ee2c00; BORDER-RIGHT-COLOR: #ee2c00
}
.linkT {
	POSITION: relative; Z-INDEX: 1
}
.linkT B {
	FONT-SIZE: 18px; CURSOR: pointer; WIDTH: 130px; TEXT-ALIGN: center; DISPLAY: inline-block; LINE-HEIGHT: 50px
}
.linkT B.thistab {
	BACKGROUND: url(../img/linkIco.gif) no-repeat center bottom
}
.linkM {
	MARGIN-BOTTOM: 15px; MARGIN-TOP: -1px; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 30px; MIN-HEIGHT: 50px; Z-INDEX: 0; DISPLAY: block; PADDING-RIGHT: 0px
}
.linkM DIV {
	WIDTH: 100%; DISPLAY: inline-block
}
.linkM DIV A {
	FLOAT: left; PADDING-BOTTOM: 10px; TEXT-ALIGN: center; PADDING-TOP: 10px; PADDING-LEFT: 8px; DISPLAY: block; LINE-HEIGHT: 70px; PADDING-RIGHT: 10px; MARGIN-RIGHT: 25px
}
.linkPic IMG {
	FLOAT: left; TEXT-ALIGN: center
}
.linkText A {
	WHITE-SPACE: nowrap; FLOAT: left; LINE-HEIGHT: 34px; MARGIN-RIGHT: 30px
}
.main-bgcol {
	BACKGROUND-COLOR: #fff
}
.main-conbox {
	WIDTH: 1200px; MARGIN-TOP: 30px
}
.main-first {
	HEIGHT: 450px; WIDTH: 1200px; BACKGROUND: url(../img/bt_bg.png) no-repeat center bottom
}
.main-first DL {
	WIDTH: 1200px
}
.main-first .bd {
	OVERFLOW: hidden
}
.m-bl {
	OVERFLOW: hidden
}
.m-bl .tit {
	FONT-SIZE: 30px; HEIGHT: 67px; WIDTH: 267px; BACKGROUND: url(../img/tit_bg.png) no-repeat; COLOR: #fff; TEXT-ALIGN: center; MARGIN: 43px auto; LINE-HEIGHT: 48px
}
.main-first DL DT {
	OVERFLOW: hidden; BORDER-TOP: #d3d3d3 1px solid; HEIGHT: 310px; BORDER-RIGHT: #d3d3d3 1px solid; WIDTH: 216px; BORDER-BOTTOM: #d3d3d3 1px solid; POSITION: relative; FLOAT: left; TEXT-ALIGN: center; MARGIN-LEFT: 9px; BORDER-LEFT: #d3d3d3 1px solid; BACKGROUND-COLOR: #fff; MARGIN-RIGHT: 28px
}
.main-first DL DT .num {
	FONT-SIZE: 30px; OVERFLOW: hidden; HEIGHT: 25px; WIDTH: 35px; FONT-WEIGHT: bold; COLOR: #e25353; MARGIN: 20px 0px 0px 20px; LINE-HEIGHT: 25px
}
.main-first DL DT .pic {
	HEIGHT: 97px; WIDTH: 97px; BACKGROUND: url(../img/pic_bg.png) no-repeat; MARGIN: 15px auto
}
.main-first DL DT .pic IMG {
	MARGIN-TOP: 25px
}
.main-first DL DT .txt {
	FONT-SIZE: 14px; COLOR: #8b8b8b; LINE-HEIGHT: 20px
}
.main-first DL DT .txt .top1 {
	FONT-SIZE: 18px; MARGIN-BOTTOM: -12px; COLOR: #747474; DISPLAY: block
}
.main-first DL DT .bt-col {
	HEIGHT: 3px; WIDTH: 46px; POSITION: absolute; MARGIN-LEFT: -23px; LEFT: 50%; DISPLAY: block; BOTTOM: 23px; BACKGROUND-COLOR: #e25353
}
.apply-now {
	MARGIN: 39px 0px 50px
}
.apply-now A {
	FONT-SIZE: 24px; WIDTH: 244px; COLOR: #fff; TEXT-ALIGN: center; MARGIN: 0px auto; DISPLAY: block; LINE-HEIGHT: 54px; BACKGROUND-COLOR: #e25353
}
.apply-now A:hover {
	TEXT-DECORATION: none; BACKGROUND-COLOR: #ffb23a
}
.main-first DL DT .n-pos2 {
	BACKGROUND-POSITION: -35px 0px
}
.main-first DL DT .n-pos3 {
	BACKGROUND-POSITION: -75px 0px
}
.main-first DL DT .n-pos4 {
	BACKGROUND-POSITION: -118px 0px
}
.main-first DL .on .num {
	COLOR: #ffb23a
}
.main-first DL .on .pic {
	BACKGROUND-POSITION: -100px 0px
}
.main-first DL .on .bt-col {
	BACKGROUND-COLOR: #ffb23a
}
.index_mod4 {
	OVERFLOW: hidden; MARGIN-TOP: 20px
}
.index_mod4 .mod_right {
	BORDER-TOP: #e4e4e4 1px solid; HEIGHT: 358px; WIDTH: 304px; BACKGROUND: url(index_m4.png) no-repeat; BORDER-BOTTOM: #e4e4e4 1px solid; POSITION: relative; FLOAT: left
}
.index_mod4 .mod_right .right-tit {
	FONT-SIZE: 32px; HEIGHT: 35px; WIDTH: 100%; FONT-WEIGHT: bold; COLOR: #fff; TEXT-ALIGN: center; MARGIN: 56px 0px; LINE-HEIGHT: 35px
}
.index_mod4 .mod_right .s_menu {
	RIGHT: 97px; POSITION: absolute; TOP: 148px
}
.index_mod4 .mod_right .s_menu LI {
	MARGIN-BOTTOM: 10px
}
.index_mod4 .mod_right .s_menu LI A {
	FONT-SIZE: 15px; CURSOR: pointer; TEXT-DECORATION: none; BORDER-TOP: #fff 1px solid; HEIGHT: 42px; BORDER-RIGHT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid; COLOR: #fff; PADDING-LEFT: 27px; BORDER-LEFT: #fff 1px solid; DISPLAY: block; LINE-HEIGHT: 42px; PADDING-RIGHT: 27px; transition: all .1s ease-in-out; -webkit-transition: all .1s ease-in-out; -moz-transition: all .1s ease-in-out; -ms-transition: all .1s ease-in-out
}
.index_mod4 .mod_right .s_menu LI.current A {
	BACKGROUND: #fff; COLOR: #3099fb
}
.index_mod4 .mod_left {
	BORDER-TOP: #e4e4e4 1px solid; HEIGHT: 358px; BORDER-RIGHT: #e4e4e4 1px solid; WIDTH: 894px; BORDER-BOTTOM: #e4e4e4 1px solid; FLOAT: left
}
.index_mod4 .mod_left .hq_con {
	OVERFLOW: hidden; HEIGHT: 357px; BORDER-RIGHT: #e4e4e4 1px solid; WIDTH: 518px; FLOAT: left; PADDING-LEFT: 0px
}
.index_mod4 .mod_left .hq_sv {
	WIDTH: 375px; FLOAT: left
}
.index_mod4 .mod_left .hq_con H1 {
	FONT-SIZE: 36px; MARGIN-BOTTOM: 30px; MARGIN-TOP: 30px; MARGIN-LEFT: 30px
}
.index_mod4 .mod_left .hq_img {
	MARGIN-LEFT: 5px
}
.index_mod4 .mod_left .hq_txt {
	MARGIN-BOTTOM: 20px; LINE-HEIGHT: 30px
}
.index_mod4 .mod_left .hq_txt A {
	FONT-SIZE: 14px; TEXT-DECORATION: none; BACKGROUND: #d6ebfe; COLOR: #666; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; PADDING-LEFT: 40px; PADDING-RIGHT: 40px; MARGIN-RIGHT: 3px
}
.index_mod4 .mod_left .hq_txt A.cur {
	FONT-SIZE: 14px; COLOR: #fff; BACKGROUND-COLOR: #3099fb
}
.index_mod4 .mod_left .hq_st .hq_a1 {
	OVERFLOW: hidden; BORDER-BOTTOM: #e4e4e4 1px solid; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 65px
}
.index_mod4 .mod_left .hq_st .hq_a1 LI {
	FONT-SIZE: 18px; FLOAT: left; LINE-HEIGHT: 36px
}
.index_mod4 .mod_left .hq_st .hq_a1 LI.sv {
	FONT-SIZE: 28px; FLOAT: left; COLOR: #ff293d
}
.index_mod4 .mod_left .hq_st .hq_a1 LI.ico {
	HEIGHT: 36px; WIDTH: 35px; BACKGROUND-IMAGE: url(index_tr_up.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.index_mod4 .mod_left .hq_st .hq_a1 LI.dw {
	HEIGHT: 36px; WIDTH: 35px; BACKGROUND-IMAGE: url(../images/dw_Cbg.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: -44px 1px
}
.index_mod4 .mod_left .hq_st .hq_a1 LI.icon-right {
	FONT-SIZE: 12px; HEIGHT: 16px; WIDTH: 80px; COLOR: #7a7a7a; LINE-HEIGHT: 16px; MARGIN-RIGHT: 15px
}
.index_mod4 .mod_left .hq_st .gupiao {
	FONT-SIZE: 14px; BORDER-TOP: #e4e4e4 1px solid; WIDTH: 94%; MARGIN-TOP: 10px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 3%; LINE-HEIGHT: 28px; PADDING-RIGHT: 3%
}
.index_mod4 .mod_left .hq_st .hq_aq1_xq {
	FONT-SIZE: 12px; WIDTH: 94%; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 3%; LINE-HEIGHT: 28px; PADDING-RIGHT: 3%
}
.index_mod4 .mod_left .hq_st .gupiao .title {
	HEIGHT: 35px; LINE-HEIGHT: 35px
}
.index_mod4 .mod_left .hq_st .gupiao TABLE TR TD {
	HEIGHT: 28px; LINE-HEIGHT: 20px
}
.index_mod4 .mod_left .hq_st .hq_aq1_xq P SPAN {
	OVERFLOW: hidden; WIDTH: 47%; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; DISPLAY: block; PADDING-RIGHT: 0px
}
.index_mod4 .mod_left .hq_st .hq_aq1_xq P SPAN .xq-color {
	COLOR: #ff3646; TEXT-ALIGN: right
}
.borBox {
	BACKGROUND-COLOR: #fff
}
.pz-day-form SPAN.explain {
	FONT-SIZE: 14px; LINE-HEIGHT: 30px
}
.wrapper2 {
	WIDTH: 1200px; MARGIN: 0px auto
}
.floating_ck {
	RIGHT: 20px; POSITION: fixed; Z-INDEX: 9999; TOP: 30%
}
.floating_ck DL DD {
	MARGIN-BOTTOM: 1px; CURSOR: pointer; HEIGHT: 60px; WIDTH: 60px; POSITION: relative; TEXT-ALIGN: center; DISPLAY: block
}
.floating_ck DL DD:hover {
	BACKGROUND-COLOR: #2196f3
}
.floating_ck DL DD:hover .floating_left {
	DISPLAY: block
}
.floating_ck DD SPAN {
	HEIGHT: 60px; WIDTH: 60px; COLOR: #fff; DISPLAY: block
}
.floating_ck DD SPAN A {
	HEIGHT: 60px; WIDTH: 60px; DISPLAY: block
}
.floating_left {
	HEIGHT: 80px; WIDTH: 160px; POSITION: absolute; LEFT: -160px; DISPLAY: none; TOP: 0px; BACKGROUND-COLOR: #d32121
}
.floating_left A {
	FONT-SIZE: 14px; COLOR: #fff
}
.kefu {
	BACKGROUND: url(common.png) #ee2525 no-repeat 4px -417px
}
.floating_ck .kefu:hover {
	BACKGROUND: url(common.png) #d32121 no-repeat 4px -417px
}
.qrcord {
	BACKGROUND: url(common.png) #ee2525 no-repeat -102px -416px
}
.floating_ck .qrcord:hover {
	BACKGROUND: url(common.png) #d32121 no-repeat -102px -416px
}
.return {
	BACKGROUND: url(common.png) #ee2525 no-repeat -169px -413px
}
.floating_ck .return:hover {
	BACKGROUND: url(common.png) #d32121 no-repeat -169px -413px
}
.floating_ck .consult .floating-1 {
	HEIGHT: 52px; BACKGROUND: #d32121; LEFT: -162px; LINE-HEIGHT: 52px; TOP: -1px
}
.floating_ck .floating_ation {
	BACKGROUND: #f7f7f7; LEFT: -162px; MIN-HEIGHT: 143px; TOP: -1px
}
.floating_ck .floating_ation .tit {
	WIDTH: 100%; FLOAT: left; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.floating_ck .floating_ation UL {
	WIDTH: 100%; FLOAT: left; DISPLAY: block
}
.floating_ck .floating_ation UL LI {
	OVERFLOW: hidden; HEIGHT: 40px; WIDTH: 100%; BORDER-BOTTOM: #e7e7e7 1px solid; FLOAT: left; LINE-HEIGHT: 40px
}
.floating_ck .floating_ation UL LI SPAN {
	WIDTH: 39%; FLOAT: left; COLOR: #666; PADDING-LEFT: 7%
}
.floating_ck .floating_ation UL LI A {
	HEIGHT: 40px; WIDTH: 50%; FLOAT: left; COLOR: #666; DISPLAY: block; LINE-HEIGHT: 40px
}
.floating_ck .floating_ation UL LI A IMG {
	WIDTH: 70px
}
.floating_ck .floating_ation .dianhua {
	WIDTH: 100%; FLOAT: left; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.floating_ck .floating_ewm {
	HEIGHT: 152px; PADDING-TOP: 15px; LEFT: -162px; TOP: -1px
}
.floating_ck .floating_ewm IMG {
	HEIGHT: 100px; WIDTH: 100px
}
.floating_ewm P {
	MARGIN-TOP: 5px; COLOR: #fff
}
.floating_ewm .qrcord_p01 {
	FONT-SIZE: 12px; COLOR: #fff; LINE-HEIGHT: 20px
}
.perocess-bg.pz-slide {
	OVERFLOW: hidden; HEIGHT: 200px; BACKGROUND: url(perocess-bg.png) no-repeat left top
}
.perocess-bg-day.pz-slide {
	OVERFLOW: hidden; HEIGHT: 200px; BACKGROUND: url(perocess-bg-day.jpg) no-repeat center top
}
.perocess-bg.pz-slide .pz-process {
	WIDTH: 1200px; MARGIN: 0px auto 20px
}
.perocess-bg.pz-slide .pz-process .pb7-top {
	BORDER-BOTTOM: 0px
}
.perocess-bg.pz-slide .pz-process .pb7-top UL LI {
	WIDTH: 212px
}
