@charset "utf-8";
/*常用class 用于.resetless.less*/
/*常用css*/
body{font-size:12px;color:#999999;line-height:24px;min-width:1000px;font-family:'Microsoft YaHei';}
.h{color:#DF5E5E !important;}
.w{width:1000px;min-width:1000px;margin:0 auto;}

.sub1-link{padding-top:38px;padding-bottom:20px;}
.sub1-link ul{margin:0-15px;}
.sub1-link li{float:left;width:150px;padding:0 88px;text-align:center;font-size:18px;}
.Novice{background:url(niu1.png) 0 0 no-repeat;padding:2px 0 3px 188px;height:172px;}
.Novice span.t{position:absolute;text-align:center;display:block;width:130px;left:50px;top:28px;}
.Novice span.t strong{font-size:20px;color:#FFF000;font-weight:bold;}
.Novice span.t span{text-align:left;display:inline-block;padding-top:10px;font-size:14px;color:#fff;}
.Novice .inner{height:170px;border:1px solid #CCCCCC;background:url(line-x.png) center 115px no-repeat #efefef;}
.Novice ul{height:118px;overflow:hidden;}
.Novice li{padding-top:21px;float:left;text-align:center;}
.Novice .li1{width:165px;}
.Novice .li2{width:208px;}
.Novice .li3{width:172px;}
.Novice h3{color:#555555;font-size:16px;line-height:45px;}
.Novice p{font-size:20px;}
.Novice p b{color:#df5e5e;}
.Novice .btns{display:block;margin-top:20px;margin-left:25px;width:160px;height:38px;line-height:38px;text-align:center;color:#fff;font-size:16px;background:url(buttonbg.png) 0 center no-repeat;}
.Novice .ps{height:47px;line-height:55px;overflow:hidden;padding-left:40px;}
.Novice .ps span{display:inline-block;padding-left:25px;margin-right:25px;background:url(xin.png) 0 center no-repeat;}
.Novice .ps .s2{background-image:url(mian.png);}
.Novice .ps .s3{background-image:url(niu.png);}
.Novice-box{margin-bottom:44px;}
.niu-title{padding-top:27px;height:45px;line-height:45px;text-align:center;font-size:18px;color:#fff;background:url(niu-title.png) 0 center no-repeat;}
.pz-list{margin-top:16px;margin-bottom:28px;}
.pz-list li{float:left;text-align:center;width:238px;height:348px;position:relative;}
.pz-list .rm{background-image:url(rm.png);}
.pz-list .ss{background-image:url(ss.png);}
.pz-list .gs{background-image:url(gs.png);}
.pz-list .g{padding:0 1px;width:auto;}
.pz-list .g p{position:relative;top:160px;width:120px;height:50px;text-align:left;padding:10px;font-size:14px;color:#555555;background-color:#EFEFEF;}
.pz-list .btns{display:block;font-size:20px;color:#fff;width:100%;position:absolute;left:0;bottom:0;height:48px;line-height:48px;text-align:center;}
.pz-list .btns{color:#fff;}
.pz-list h3{font-size:16px;padding-top:112px;color:#fff;padding-bottom:10px;}
.pz-list strong{color:#FFF000;font-size:26px;}
.pz-list p{font-size:14px;color:#fff;padding-top:30px;}
.r-title{height:35px;line-height:35px;background:url(l3.png) 0 bottom no-repeat;}
.r-title h2{padding-left:30px;font-size:18px;color:#df5e5e;}
.r-title .more{font-size:14px;padding-right:15px;}
.new-notice{width:428px;}
.new-notice .r-title h2{background:url(icon-24.png) 7px center no-repeat;}
.new-notice .img-txt{padding:11px 4px 17px;height:88px;overflow:hidden;border-bottom:1px dashed #CCCCCC;margin-bottom:6px;}
.new-notice .img{width:134px;height:88px;overflow:hidden;}
.new-notice .txt{width:266px;}
.new-notice h3{padding-bottom:12px;}
.new-notice p{line-height:20px;}
.newslist{line-height:36px;}
.newslist li{width:100%;float:left;font-size:14px;}
.newslist a{padding-left:5px;}
.newslist span.fr{padding-right:10px;}
.ranking{width:550px;}
.ranking .r-title h2{background:url(icon-niu.png) 7px center no-repeat;}
.ranking .inner{height:320px;overflow:hidden;border:1px solid #EEEEEE;padding:7px;}
.ranking .data{width:100%;}
.ranking th{height:46px;font-size:16px;line-height:46px;padding-left:26px;background-color:#EEEEEE;}
.ranking td{height:46px;font-size:16px;line-height:46px;padding-left:26px;border-bottom:1px solid #EEEEEE;}
.ranking b{color:#df5e5e;}
.ranking .au{background:url(au.png) 5px center no-repeat;}
.ranking .ag{background:url(ag.png) 5px center no-repeat;}
.ranking .cu{background:url(cu.png) 5px center no-repeat;}
.soft-down ul{width:106%;}
.soft-down li{float:left;margin-right:56px;}
.soft-down li a{float:left;text-align:center;width:206px;height:206px;border:1px solid #CCCCCC;}
.soft-down li a b{font-size:16px;display:inline-block;padding-top:125px;}
.soft-down .pc a{background:url(pc1.png) center 55px no-repeat;}
.soft-down .pc a:hover{background-color:#df5e5e;color:#fff;background-image:url(pc2.png);}
.soft-down .iphone a{background-image:url(apple1.png);}
.soft-down .iphone a:hover{background-color:#df5e5e;color:#fff;background-image:url(apple2.png);}
.soft-down .android a{background-image:url(andriod1.png);}
.soft-down .android a:hover{background-color:#df5e5e;color:#fff;background-image:url(andriod2.png);}
.soft-down .set a{background-image:url(set1.png);}
.soft-down .set a:hover{background-color:#df5e5e;color:#fff;background-image:url(set2.png);}
.soft-down .downloads{padding:18px 0 48px;}

.daystep{height:76px;line-height:76px;color:#fff;background-color:#df5e5e;font-size:16px;}
.daystep .w{height:76px;overflow:hidden;}
.daystep li{float:left;padding-left:62px;width:144px;}
.daystep ul{width:106%;}
.daystep .li1{background-image:url(1.png);}
.daystep .li2{background-image:url(2.png);}
.daystep .li3{background-image:url(3.png);}
.daystep .li4{background-image:url(4.png);}
.daystep .li5{background-image:url(5.png);}
.benjin{padding-top:70px;}
.benjin .select{width:106%;padding-left:14px;padding-top:34px;*padding-bottom:16px;}
.benjin .select a{float:left;margin-right:16px;width:92px;height:34px;line-height:34px;text-align:center;font-size:16px;color:#555555;margin-bottom:16px;border:1px solid #ccc;border-radius:5px;}
.benjin .select a.on,.benjin .select a:hover{background-color:#df5e5e;color:#fff;}
.benjin .yourmoney{width:424px;height:38px;margin:10px auto 30px;background:url(moneyinput.png) 0 center no-repeat;}
.benjin .yourmoney input{width:340px;padding-left:25px;height:36px;line-height:36px;line-height:34px\9;background-color:transparent;font-size:14px;color:#999;}
.amplify{padding-top:26px;padding-bottom:86px;}
.amplify ul{width:106%;padding-left:10px;}
.amplify li{float:left;margin-right:25px;}
.amplify li a{border:1px solid #DDDDDD;text-align:center;display:block;width:174px;height:120px;position:relative;overflow:hidden;border-radius:5px;font-size:14px;}
.amplify li strong{font-size:24px;color:#df5e5e;}
.amplify li h3{padding-top:34px;}
.amplify li p{height:38px;line-height:38px;width:100%;color:#fff;position:absolute;left:0;bottom:0;background-color:#df5e5e;}
.amplify .on{border-color:#df5e5e;}
.enterinfor .title{line-height:38px;color:#df5e5e;text-align:center;background:url(l3b.png) center bottom no-repeat;}
.enterinfor .databox{border:1px solid #ccc;padding:8px;}
.enterinfor .data{width:100%;}
.enterinfor th{height:46px;font-size:16px;line-height:46px;padding-left:26px;background-color:#EEEEEE;}
.enterinfor td{height:46px;font-size:18px;line-height:46px;padding-left:26px;border-bottom:1px solid #EEEEEE;}
.enterinfor b{color:#df5e5e;}
.enterinfor .other{padding:25px 38px 25px 66px;line-height:34px;margin-bottom:22px;}
.enterinfor .other span.t{font-size:16px;}
.enterinfor .other .tips{font-size:14px;}
.enterinfor .other label{font-size:14px;color:#666666;margin-right:10px;}
.enterinfor .other input{position:relative;top:2px;margin-right:5px;}
.enterinfor .btns{padding-bottom:60px;text-align:center;font-size:14px;color:#555555;}
.enterinfor .btns input{position:relative;top:1px;}
.enterinfor .btns p{padding:10px 0 20px;}
.enterinfor .btns .btn{display:inline-block;width:214px;height:40px;line-height:40px;text-align:center;font-size:18px;background-color:#df5e5e;color:#fff;}
.enterinfor .btns .btn:hover{background-color:#b34040;}
.loginPage{height:462px;padding-top:38px;background:url(loginbg.jpg) center bottom #ffffff no-repeat;}
.loginPage .form{width:328px;margin:35px auto 0;}
.loginPage li{width:100%;float:left;padding-bottom:26px;position:relative;}
.loginPage .user,.loginPage .pwd,.loginPage .yzm{font-size:14px;width:96%;padding:0 2%;border:1px solid #ccc;line-height:39px;height:39px;line-height:37px\9;float:left;}
.loginPage .yzm{width:48%;margin-right:10px;}
.loginPage .submit{width:100%;display:block;height:38px;line-height:36px;background-color:#df5e5e;color:#fff;font-size:16px;cursor:pointer;border-radius:5px;}
.loginPage span.fl{font-size:14px;}
.loginPage span.fl em{padding:0 10px;}
.regPage{background:url(regbg.jpg) center 0 no-repeat;height:auto;padding-bottom:50px;}
.regPage span.t{font-size:14px;text-align:right;width:106px;padding-right:20px;position:absolute;left:-126px;top:0;line-height:41px;}
.regPage .sendyzm{cursor:pointer;width:114px;height:40px;line-height:38px;background-color:#EBB544;border-radius:5px;color:#fff;font-size:14px;}
.insidePage{margin-top:31px;background:url(sidepagebg.jpg) 212px center repeat-y;margin-bottom:100px;padding-bottom:50px;}
.sideNav{width:219px;}
.sideNav a{font-size:18px;color:#df5e5e;padding-left:60px;display:block;height:44px;line-height:44px;background:url(sidea.png) 0 center no-repeat;}
.sideNav li{padding-bottom:12px;}
.sideNav li.on a,.sideNav a:hover{background:url(sideahover.png) 0 center no-repeat;color:#fff;}
.r-content{width:764px;}
.r-content .title{height:35px;line-height:35px;padding-left:13px;background:url(l3.png) 0px 33px no-repeat;color:#df5e5e;}
.r-content .title h2{font-size:16px;}
.r-content .con{padding:20px 13px;font-size:14px;color:#555555;}
.r-content .con b{color:#df5e5e;}
.r-content .con p{padding:10px 0;}
.xinshou{padding-top:160px;background:url(xsbg.jpg) center 0 no-repeat #ffffff;}
.xinshou .step{width:402px;margin:0 auto;padding-bottom:38px;}
.xinshou li{position:relative;height:163px;background:url(bubg.png) center bottom no-repeat;}
.xinshou .step1{height:287px;background:url(bubg.png) center bottom no-repeat;}
.xinshou p{width:100%;height:42px;text-align:center;line-height:42px;position:absolute;left:0;bottom:7px;font-style:italic;font-size:20px;color:#df5e5e;}
.xinshou i{display:block;width:22px;height:22px;line-height:22px;text-align:center;font-size:20px;color:#df5e5e;position:absolute;bottom:67px;left:50%;margin-left:-8px;background:url(y22.png) center no-repeat;}
.xinshou .btns{text-align:center;height:399px;border-top:1px solid #ccc;background:url(bubg2.png) center 0 no-repeat;}
.xinshou .btns .p{font-size:14px;color:#555;padding-top:29px;padding-bottom:23px;text-align:center;}
.xinshou .btns .btn{display:inline-block;width:214px;height:40px;line-height:40px;text-align:center;font-size:18px;background-color:#df5e5e;color:#fff;}
.xinshou .btns .btn:hover{background-color:#b34040;}
.enter-details{padding-top:70px;padding-bottom:70px;}
.enter-details .data1{background-color:#EEEEEE;font-size:16px;margin-bottom:20px;padding:10px 0;color:#555555;}
.enter-details .data1 td{padding:10px 20px 5px;}
.enter-details .data1 b{color:#df5e5e;}
.enter-details .jisuan{padding:35px 0 25px;}
.enter-details .jisuan ul{padding-left:60px;}
.enter-details .jisuan li{text-align:center;float:left;width:145px;height:62px;padding-top:60px;font-size:14px;color:#555;}
.enter-details .jisuan strong{font-size:20px;color:#df5e5e;}
.enter-details .jisuan .deng{width:245px;background:url(deng.png) center no-repeat;}
.enter-details .jisuan .jia{width:210px;background:url(jia.png) center no-repeat;}
.enter-details .zong{background:url(zong.png) 0 center no-repeat;}
.enter-details .ben{background:url(ben.png) 0 center no-repeat;}
.enter-details .pei{background:url(pei.png) 0 center no-repeat;}
.enter-details .data2 th{width:200px;text-align:center;line-height:57px;background-color:#EEEEEE;font-size:14px;color:#555555;border-right:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;}
.enter-details .data2 td{padding-left:58px;font-size:14px;color:#555555;border-right:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;line-height:57px;}
.enter-details .data2 table{border-top:1px solid #CCCCCC;border-left:1px solid #CCCCCC;}
.enter-details .data2 b{font-size:20px;color:#df5e5e;}
.enter-details .data2 span.t{display:inline-block;width:146px;}
.enter-details .data2 span.t b{font-size:20px;}
.enter-details .data2 a{padding-left:15px;}
.enter-details .data2 span b{font-size:14px;}
.enter-details .btns{text-align:center;padding:20px 0 30px;}
.enter-details .btns p{line-height:45px;}
.enter-details .btns p a{font-size:14px;}
.enter-details .btn{display:inline-block;width:214px;height:40px;line-height:40px;text-align:center;font-size:18px;background-color:#df5e5e;color:#fff;}
.enter-details .btn:hover{background-color:#b34040;}
.enter-details .sm{background:url(xuzhi.png) right 0 no-repeat #eeeeee;padding:32px;font-size:14px;color:#999999;line-height:30px;}
.enter-details .sm dt,.enter-details .sm dd{padding-left:23px;}
.enter-details .sm dd{background:url(dui.png) 0 center no-repeat;}

/**********天融资过程***********/
.pz-slide{
    width:100%;
    margin:0 auto;
    /*height: 192px;*/
    position: relative;
    }
.pz-slide img{
/*    position: absolute;
    left:50%;
    margin-left:-980px !important;*/
    width: 100%;
}
.pz-process{width:1000px;margin:10px auto 20px;}
.pz-type-swith{margin-top:20px;}
.pz-type-swith ul{overflow: hidden;top:2px;position:relative;  z-index: 999;}
.pz-type-swith ul li a{float:left;display:block;margin-right:10px;padding:0px 10px;width:110px;text-align:center;font-size:16px;color:#000;border-top:1px solid #BEBEBE;border-left:1px solid #BEBEBE;border-right:1px solid #BEBEBE;height:40px;line-height:40px;}
.pz-type-swith ul li a.on{background:#fff;color:#D03B00;border-left:1px solid #BEBEBE;border-right:1px solid #BEBEBE;border-top:2px solid #D03B00;border-bottom: 2px solid #fff;height:40px;line-height:40px;}

.pz-day-content-all{border: 1px solid #ccc; }
.pz-day-content{background:#fff;height:80px;padding:40px 30px;}
.pz-day-public{margin-right:95px;float:left;}
.pz-day-content h2{height:30px;font-size:17px;color:#000;text-align:center;width:245px;}
.pz-day-content input{width:245px;height:40px;line-height:40px;border:2px solid #FA4E41;text-align:center;font-size:20px;color:#000;font-weight:bold;  background: #F4F4F4;}
.pz-select{width:245px;height:40px;line-height:40px;position:relative;}
.pz-select select{width:245px;height:40px;line-height:40px;text-align:center;font-size:20px;color:#000;font-weight:bold;background:url(down-arrow.png) no-repeat right;border: none;}
.pzdaynumber{margin-right:0px;}

.nav_listdown{width: 245px;height: 40px;border:2px solid #FA4E41;}
.nav_listdown p{display:block;padding-left:10px;line-height:40px;color: #000;font-size: 20px; cursor:pointer;}
.set_listdown{background: url(down-arrow.png) 204px 0px no-repeat;}
.select{background: url(down-arrow.png) 204px 0px no-repeat;}
.new_listdown{width:198px;position:absolute;border:1px solid #CCC;display:none;}
.nav_listdown ul li{line-height:30px;padding-left:10px;background:#fff;color: #000;font-size: 20px;}
.nav_listdown ul li:hover{background:#fa4e41;color:#FFF;}


.nav_listdown2{width: 245px;height: 40px;border:2px solid #FA4E41;}
.nav_listdown2 p{display:block;padding-left:10px;line-height:40px;color: #000;font-size: 20px;cursor: pointer;}
.set_listdown2{background: url(down-arrow.png) 204px 0px no-repeat;}
.new_listdown2{width:198px;position:absolute;border:1px solid #CCC;display:none;}
.nav_listdown2 ul li{line-height:30px;padding-left:10px;background:#fff;color: #000;font-size: 20px;}
.nav_listdown2 ul li:hover{background:#fa4e41;color:#FFF;}


.nav_listdown3{width: 245px;height: 40px;border:2px solid #FA4E41;}
.nav_listdown3 p{display:block;padding-left:10px;line-height:40px;color: #000;font-size: 20px;cursor: pointer;}
.set_listdown3{background: url(down-arrow.png) 204px 0px no-repeat;}
.new_listdown3{width:198px;position:absolute;border:1px solid #CCC;display:none;}
.nav_listdown3 ul li{line-height:30px;padding-left:10px;background:#fff;color: #000;font-size: 20px;}
.nav_listdown3 ul li:hover{background:#fa4e41;color:#FFF;}



.nav_listdown4{width: 245px;height: 40px;border:2px solid #FA4E41;}
.nav_listdown4 p{display:block;padding-left:10px;line-height:40px;color: #000;font-size: 20px;cursor: pointer;}
.set_listdown4{background: url(down-arrow.png) 204px 0px no-repeat;}
.new_listdown4{width:198px;position:absolute;border:1px solid #CCC;display:none;}
.nav_listdown4 ul li{line-height:30px;padding-left:10px;background:#fff;color: #000;font-size: 20px;}
.nav_listdown4 ul li:hover{background:#fa4e41;color:#FFF;}


.pz-day-content1{padding:20px 30px;padding-bottom:0px;background:#fff;}
.pz-day-content1 h2{font-size:18px;color:#000;}
.pz-day-bond{float: left;margin-right: 160px;text-align: center;margin-left: 20px;cursor: pointer;}
.pz-detail-count{margin:20px 0px;overflow: hidden;margin-bottom: 0px;}
.pz-day-bond h3{background: url(pzday-bg.png) no-repeat;width:177px;height:97px;position:relative;display:block;line-height: 114px;font-size: 21px;color: #fff; padding-top:11px;}
.pz-day-bond p{font-size: 18px;line-height: 30px;color: #000;width: 177px;}

.pz-day-form{padding:20px 30px;width:937px;background:#fff;}
.pz-day-form table{border:1px solid #ccc;width:100%;}
.pz-day-form table tr{line-height:35px;}
.pz-day-form table tr td{padding:10px 15px;border:1px solid #ccc;font-size:20px;color:#000;text-align:center;}
.pz-day-form table tr td span{color:#E95B5B;}
.pz-day-form table tr td img{margin-left:5px;}

.pz-agmt-btn{padding:20px 30px;width:937px;text-align:center;background:#fff;}
.pz-agmt-btn label{font-size:15px;color:#000;}
.pz-agmt-btn label a{font-size:15px;color:#000;}
.pz-me{cursor: pointer;display:block;font-size:20px;width:300px;text-align:center;height:50px;line-height:50px;background:#E95B5B;color:#fff;margin: 20px auto;}
.pz-me:hover{color:#fff;}

/*********免费体验***********/
.free_banner{z-index: 999;position: relative;}
.free_content{position:relative;margin:10px 0px;overflow: hidden;}
.free_content p{background: url(free_img.png) center  no-repeat;width:100%;margin:15px auto;height:76px;text-align:center;line-height:60px;}
.free_content p span{font-size:20px;color:#fc3e47;}
.free_content p em{font-size:15px;color:#fc3e47;}
.free_content p i{font-size:25px;color:#fc3e47;}

.free_experience{width:100%;text-align:center;overflow:hidden;}
.free_experience h3{color:#000;line-height:30px;}
.free_experience a{width:140px;height:40px;line-height:40px;background:#fa525a;text-align:center;display:inline-block;color:#fff;font-size:15px;}

.hailun_notes{width: 865px;border: 1px solid #F1E4D1;border-radius: 15px;height: 250px;margin: 30px auto;background: #F1E4D1 none repeat scroll 0% 0%;padding: 35px;font-size:16px;color:#524d46;}
.hailun_notes h3{font-size:23px;color:#524d46;height:30px;font-weight:bold;}
.hailun_notes ul li{line-height:40px;}
/*********免费体验***********/


/*********注意事项和交易软件***********/
.pz-ware-software{margin-top:20px;margin-bottom:30px;}
#waring-software{top:2px;position: relative;}
#waring-software li a{float:left;width:125px;text-align:center;height:40px;line-height:40px;margin-right:15px;border:1px solid #ccc;border-bottom:none;font-size:18px;color:#000;}
#waring-software li a.active{width:125px;text-align:center;height:40px;line-height:40px;color:#000;border-top:2px solid #D03B00;background:#F4F1E5;}
.ware-software-content{background:#F4F1E5;padding: 25px;border: 1px solid #ccc;min-height:300px;}

#pzwaring ul li{line-height: 35px;font-size: 14px;color:#5F5F5F;}
#pzwaring ul li em{width:20px;text-align:center;height:20px;line-height:20px;background:#E95B5B;color:#fff;display:block;float:left;margin-top:7px;font-style:italic;margin-right:8px;border-radius:3px;}
/*********注意事项和交易软件***********/

/**************确认融资**************/
.pz-sure h2{line-height:50px;font-size:20px;color:#F23030;text-align:center;font-weight:bold;height:60px;}
.pz-mf{background:url(pz-surebg.png) no-repeat;width:1000px;height:116px;}
.pz-mf1{float: left;width: 295px;text-align: center;}
.pz-mf2{float: left;width: 270px;text-align: center;}
.pz-mf3{float: left;width: 260px;text-align: center;}
.pz-mf h2{font-size:15px;color:#000;font-weight:bold;}
.pz-mf p{font-size:15px;color:#000;line-height:35px;}
.pz-mf p span{font-size:25px;color:#F23030;}
.pz-circledata1{float: left;width: 68px;text-align: center;margin-top: 36px;color: #fff;font-size: 19px;}
.pz-circledata2{float: left;width: 80px;text-align: center;margin-top: 36px;color: #fff;font-size: 19px;}

.pz-detail-all{border:1px solid #ccc;width:1000px;margin:30px auto 10px;}
.pz-detail-all table{width:100%;}
.pz-detail-all table tr{border-bottom:1px solid #ccc;}
.pz-detail-all-name{background:#F4F4F4;font-size:15px;color:#000;}
.pz-detail-all table tr td{width:20%;height:45px;line-height:45px;text-align:center;}
.pz-detail-color{color:#F23030;font-size:15px;}

.pz-illustrate{width:940px;padding: 30px 30px 45px;}
.pz-illustrate ul li{line-height:35px;font-size:15px;color:#000;}
.pz-illustrate ul li span{color:#E95B5B;}
.pz-illustrate ul li a{margin-left:10px;color:#fff;width:120px;text-align:center;height:30px;line-height:30px;background:#E95B5B;display:block;float:left;}
.pz-agmt-btn h3{color:#000;font-size: 17px;line-height: 30px;}
/**************确认融资**************/


.index_hz{border: 1px solid #e4e4e4;padding: 10px 0;}
.index_hz img{ margin-left: 34px;margin-top: 12px;width: 160px;}
































