BODY {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
UL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
OL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
LI {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H1 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H2 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H3 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H4 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H5 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H6 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
FORM {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
P {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TH {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.absolute {
	POSITION: absolute
}
.alignc {
	TEXT-ALIGN: center
}
.alignl {
	TEXT-ALIGN: left
}
.alignr {
	TEXT-ALIGN: right
}
.black {
	COLOR: #000
}
.blackbg {
	BACKGROUND: #000
}
.bold {
	FONT-WEIGHT: bold
}
.block {
	DISPLAY: block
}
.blue {
	COLOR: #3099fb
}
.center {
	TEXT-ALIGN: center
}
.delline {
	BORDER-BOTTOM: medium none
}
.delmright {
	MARGIN-RIGHT: 0px
}
.delmleft {
	MARGIN-LEFT: 0px
}
.delpleft {
	PADDING-LEFT: 0px
}
.delpright {
	PADDING-RIGHT: 0px
}
.green {
	COLOR: #19c2b5
}
.inline {
	WIDTH: auto; DISPLAY: inline-block
}
.clear {
	OVERFLOW: hidden; CLEAR: both
}
.containter {
	WIDTH: 100%; MARGIN: 0px auto
}
.fleft {
	FLOAT: left; DISPLAY: block
}
.fright {
	FLOAT: right; DISPLAY: block
}
.ft12 {
	FONT-SIZE: 12px
}
.ft14 {
	FONT-SIZE: 14px
}
.ft15 {
	FONT-SIZE: 15px
}
.ft16 {
	FONT-SIZE: 16px
}
.ft17 {
	FONT-SIZE: 17px
}
.ft18 {
	FONT-SIZE: 18px
}
.ft20 {
	FONT-SIZE: 20px
}
.ft22 {
	FONT-SIZE: 22px
}
.ft24 {
	FONT-SIZE: 24px
}
.ft26 {
	FONT-SIZE: 26px
}
.ft28 {
	FONT-SIZE: 28px
}
.ft30 {
	FONT-SIZE: 30px
}
.ft36 {
	FONT-SIZE: 36px
}
.ft40 {
	FONT-SIZE: 40px
}
.ft45 {
	FONT-SIZE: 45px
}
.grey {
	COLOR: #ccc
}
.green {
	COLOR: #74ae47
}
.h0 {
	HEIGHT: 0px
}
.h5 {
	HEIGHT: 5px
}
.h10 {
	HEIGHT: 10px
}
.h15 {
	HEIGHT: 15px
}
.h20 {
	HEIGHT: 20px
}
.h25 {
	HEIGHT: 25px
}
.h30 {
	HEIGHT: 30px
}
.h35 {
	HEIGHT: 35px
}
.h40 {
	HEIGHT: 40px
}
.h50 {
	HEIGHT: 50px
}
.h60 {
	HEIGHT: 60px
}
.handle {
	CURSOR: pointer
}
.inlineblock {
	DISPLAY: inline-block
}
.left {
	FLOAT: left
}
.line1-5e {
	LINE-HEIGHT: 1.5em
}
.line2e {
	LINE-HEIGHT: 2em
}
.line2-5e {
	LINE-HEIGHT: 2.5em
}
.line3e {
	LINE-HEIGHT: 3em
}
.line3-5e {
	LINE-HEIGHT: 3.5em
}
.main {
	WIDTH: 1000px; MARGIN: 0px auto
}
.mtop5 {
	MARGIN-TOP: 5px
}
.mtop10 {
	MARGIN-TOP: 10px
}
.mtop12 {
	MARGIN-TOP: 12px
}
.mtop15 {
	MARGIN-TOP: 15px
}
.mtop20 {
	MARGIN-TOP: 20px
}
.mbottom5 {
	MARGIN-BOTTOM: 5px
}
.mbottom10 {
	MARGIN-BOTTOM: 10px
}
.mbottom15 {
	MARGIN-BOTTOM: 15px
}
.mbottom20 {
	MARGIN-BOTTOM: 20px
}
.none {
	DISPLAY: none
}
.orange {
	COLOR: #ff696b
}
.pleft5 {
	PADDING-LEFT: 5px
}
.pleft10 {
	PADDING-LEFT: 10px
}
.pleft15 {
	PADDING-LEFT: 15px
}
.pleft20 {
	PADDING-LEFT: 20px
}
.pleft25 {
	PADDING-LEFT: 25px
}
.pleft40 {
	PADDING-LEFT: 40px
}
.pleft50 {
	PADDING-LEFT: 50px
}
.pleft100 {
	PADDING-LEFT: 100px
}
.pright5 {
	PADDING-RIGHT: 5px
}
.pright10 {
	PADDING-RIGHT: 10px
}
.pright15 {
	PADDING-RIGHT: 15px
}
.pright20 {
	PADDING-RIGHT: 20px
}
.pright25 {
	PADDING-RIGHT: 25px
}
.pright30 {
	PADDING-RIGHT: 30px
}
.pright40 {
	PADDING-RIGHT: 40px
}
.pright50 {
	PADDING-RIGHT: 50px
}
.pright60 {
	PADDING-RIGHT: 60px
}
.pright100 {
	PADDING-RIGHT: 100px
}
.ptop5 {
	PADDING-TOP: 5px
}
.ptop10 {
	PADDING-TOP: 10px
}
.ptop15 {
	PADDING-TOP: 15px
}
.ptop20 {
	PADDING-TOP: 20px
}
.ptop25 {
	PADDING-TOP: 25px
}
.ptop30 {
	PADDING-TOP: 30px
}
.ptop35 {
	PADDING-TOP: 35px
}
.ptop40 {
	PADDING-TOP: 40px
}
.pbottom5 {
	PADDING-BOTTOM: 5px
}
.pbottom10 {
	PADDING-BOTTOM: 10px
}
.pbottom15 {
	PADDING-BOTTOM: 15px
}
.pbottom20 {
	PADDING-BOTTOM: 20px
}
.pbottom25 {
	PADDING-BOTTOM: 25px
}
.pbottom30 {
	PADDING-BOTTOM: 30px
}
.rad2 {
	border-radius: 2px; -moz-border-radius: 2px; -khtml-border-radius: 2px; -webkit-border-radius: 2px
}
.rad3 {
	border-radius: 3px; -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px
}
.rad4 {
	border-radius: 4px; -moz-border-radius: 4px; -khtml-border-radius: 4px; -webkit-border-radius: 4px
}
.rad5 {
	border-radius: 5px; -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px
}
.rad6 {
	border-radius: 6px; -moz-border-radius: 6px; -khtml-border-radius: 6px; -webkit-border-radius: 6px
}
.rad7 {
	border-radius: 7px; -moz-border-radius: 7px; -khtml-border-radius: 7px; -webkit-border-radius: 7px
}
.rad8 {
	border-radius: 8px; -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px
}
.rad9 {
	border-radius: 9px; -moz-border-radius: 9px; -khtml-border-radius: 9px; -webkit-border-radius: 9px
}
.rad10 {
	border-radius: 10px; -moz-border-radius: 10px; -khtml-border-radius: 10px; -webkit-border-radius: 10px
}
.rad11 {
	border-radius: 11px; -moz-border-radius: 11px; -khtml-border-radius: 11px; -webkit-border-radius: 11px
}
.rad12 {
	border-radius: 12px; -moz-border-radius: 12px; -khtml-border-radius: 12px; -webkit-border-radius: 12px
}
.rad13 {
	border-radius: 13px; -moz-border-radius: 13px; -khtml-border-radius: 13px; -webkit-border-radius: 13px
}
.rad14 {
	border-radius: 14px; -moz-border-radius: 14px; -khtml-border-radius: 14px; -webkit-border-radius: 14px
}
.rad15 {
	border-radius: 15px; -moz-border-radius: 15px; -khtml-border-radius: 15px; -webkit-border-radius: 15px
}
.rad16 {
	border-radius: 16px; -moz-border-radius: 16px; -khtml-border-radius: 16px; -webkit-border-radius: 16px
}
.red {
	COLOR: #ff3344
}
.relative {
	POSITION: relative
}
.right {
	FLOAT: right
}
.snc-line {
	FONT-SIZE: 0px; HEIGHT: 12px; VERTICAL-ALIGN: bottom; BORDER-LEFT: #d8d5d5 1px solid; DISPLAY: inline-block
}
.time {
	FLOAT: right
}
.top20 {
	TOP: 20px
}
.top30 {
	TOP: 30px
}
.top40 {
	TOP: 40px
}
.top50 {
	TOP: 50px
}
.white {
	COLOR: #fff
}
.whitebg {
	BACKGROUND: #fff
}
.width10 {
	WIDTH: 10%
}
.width20 {
	WIDTH: 20%
}
.width30 {
	WIDTH: 30%
}
.width40 {
	WIDTH: 40%
}
.width45 {
	WIDTH: 45%
}
.width50 {
	WIDTH: 49.6%
}
.width60 {
	WIDTH: 59.6%
}
.width70 {
	WIDTH: 69.6%
}
.width80 {
	WIDTH: 79.6%
}
.width90 {
	WIDTH: 89.6%
}
.width95 {
	WIDTH: 94.6%
}
.width100 {
	OVERFLOW: hidden; WIDTH: 99.6%
}
.yellow {
	COLOR: #e7a041
}
.dw_Cbg {
	BACKGROUND: url(dw_Cbg.png) no-repeat
}
TABLE {
	BORDER-COLLAPSE: collapse; BORDER-SPACING: 0
}
IMG {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; VERTICAL-ALIGN: middle; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none
}
EM {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
H1 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H2 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H3 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H4 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H5 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H6 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
INPUT {
	FONT-SIZE: inherit; FONT-FAMILY: inherit; FONT-WEIGHT: inherit
}
BUTTON {
	FONT-SIZE: inherit; FONT-FAMILY: inherit; FONT-WEIGHT: inherit
}
TEXTAREA {
	FONT-SIZE: inherit; FONT-FAMILY: inherit; FONT-WEIGHT: inherit
}
SELECT {
	FONT-SIZE: inherit; FONT-FAMILY: inherit; FONT-WEIGHT: inherit
}
BODY {
	FONT-SIZE: 14px; FONT-FAMILY: "Microsoft Yahei", Arial
}
A {
	TEXT-DECORATION: none; COLOR: #333
}
.clearfix:after {
	CONTENT: " "; CLEAR: both; DISPLAY: table
}
.clearfix {
	
}
.clearout {
	OVERFLOW: hidden; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; DISPLAY: block
}
.cleartxt {
	OVERFLOW: hidden; COLOR: transparent; FONT: 0px/0 a
}
LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
.wrapper {
	WIDTH: 1200px; MARGIN: 0px auto
}
.header-top {
	FONT-SIZE: 12px; HEIGHT: 40px; BACKGROUND: #2c2c2c; BORDER-BOTTOM: #ddd 1px solid; COLOR: #9e9e9e; DISPLAY: block; LINE-HEIGHT: 40px
}
.header-top .tel-num {
	HEIGHT: 40px; VERTICAL-ALIGN: 5px; FLOAT: left
}
.header-top .tel-num .icon-tel {
	HEIGHT: 23px; WIDTH: 19px; VERTICAL-ALIGN: -5px; BACKGROUND: url(../huiguanqian/mobiletop.png) no-repeat; DISPLAY: inline-block
}
.header-top .tel-num SPAN {
	HEIGHT: 100%; DISPLAY: inline-block
}
.header-top .quick-link {
	FLOAT: right; COLOR: #ccc
}
.header-top .quick-link A {
	FONT-SIZE: 12px; COLOR: #9e9e9e; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; DISPLAY: inline-block; PADDING-RIGHT: 10px
}
.header-top .quick-link A:hover {
	
}
.header-top .quick-link .wechat {
	CURSOR: pointer; HEIGHT: 40px; WIDTH: 117px; POSITION: relative; FLOAT: left; COLOR: #4caf50
}
.header-top .quick-link .wechat .icon {
	CURSOR: pointer; HEIGHT: 40px; WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 6px; MARGIN: 0px auto 0px -1px; Z-INDEX: 2; BACKGROUND-COLOR: inherit; transition: background-position 0.5s ease 0s
}
.header-top .quick-link .wechat .icon-weixin I {
	HEIGHT: 30px; WIDTH: 30px; POSITION: relative; DISPLAY: block; TOP: 7px
}
.header-top .quick-link .wechat .icon-weixin EM {
	HEIGHT: 24px; WIDTH: 30px; POSITION: relative; BACKGROUND-POSITION: 1px -40px; DISPLAY: block; TOP: 7px
}
.header-top .quick-link .wechat .dropdown {
	BORDER-TOP: #ddd 1px solid; HEIGHT: 150px; BORDER-RIGHT: #ddd 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #ddd 1px solid; POSITION: relative; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; BORDER-LEFT: #ddd 1px solid; MARGIN: 0px; DISPLAY: none; TOP: 40px; PADDING-RIGHT: 0px
}
.header-top .quick-link .wechat:hover .dropdown {
	TEXT-ALIGN: center; DISPLAY: block
}
.header-top .quick-link .wechat .dropdown SPAN {
	WIDTH: 100%; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; LINE-HEIGHT: 0px; PADDING-RIGHT: 0px
}
.header-top .quick-link .wechat .dropdown IMG {
	HEIGHT: 90px; WIDTH: 90px; POSITION: relative; TOP: -20px
}
.header {
	HEIGHT: 100px; BACKGROUND: #fff; MARGIN: 0px auto
}
.header .logo {
	POSITION: relative; FLOAT: left; TOP: 20px
}
.header .nav {
	OVERFLOW: hidden; FLOAT: right
}
.header .nav .navigation-list {
	FLOAT: right
}
.d_wrapM UL {
	FLOAT: right
}
.header .nav .navigation-item {
	MARGIN-TOP: 27px; FLOAT: left
}
.header .nav LI {
	WIDTH: 102px; FLOAT: left; TEXT-ALIGN: center
}
.header .nav LI A {
	FONT-SIZE: 16px; HEIGHT: 42px; COLOR: #3e3e3e; DISPLAY: block; LINE-HEIGHT: 42px
}
.header .nav LI A:hover {
	COLOR: #f65c54
}
footer {
	DISPLAY: block
}
.footer-mi {
	COLOR: #7d7d7d; PADDING-BOTTOM: 500px; PADDING-TOP: 30px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #262626
}
.footer-cen-mi .footer-logo-mi {
	MARGIN: 20px 0px
}
.footer-right-mi .footer-phone-mi {
	MARGIN-TOP: 20px
}
.footer-top-mi {
	MARGIN: 40px 0px
}
.connection-box P {
	WIDTH: 143px; FLOAT: left
}
.connection P {
	MARGIN: 0px
}
.footer-cen-mi P {
	MARGIN: 0px
}
.footer-right-mi P {
	MARGIN: 0px
}
.pop-footer {
	PADDING-BOTTOM: 12px; TEXT-ALIGN: right; PADDING-TOP: 12px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND-COLOR: #eee
}
.pop-footer A {
	MARGIN: 0px 3px
}
.pop-footer INPUT {
	MARGIN: 0px 3px
}
.footer-mi {
	HEIGHT: 100%; COLOR: #7d7d7d; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-COLOR: #262626
}
.footer-left-mi {
	HEIGHT: 300px; WIDTH: 295px; POSITION: relative; BACKGROUND-COLOR: #181818
}
.footer-left-mi .end {
	BORDER-BOTTOM: medium none
}
.footer-list-mi {
	HEIGHT: 110px; WIDTH: 247px; BORDER-BOTTOM: #464646 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 30px; PADDING-LEFT: 27px; MARGIN: 0px auto; PADDING-RIGHT: 0px
}
.footer-list-mi A {
	FONT-SIZE: 14px; COLOR: #7d7d7d
}
.footer-list-mi LI {
	PADDING-LEFT: 68px; LINE-HEIGHT: 24px
}
.footer-list-icon-mi {
	HEIGHT: 51px; WIDTH: 51px; BACKGROUND: url(../images/foot/icon_grow.png) no-repeat; POSITION: absolute; PADDING-LEFT: 0px; LEFT: 30px; TOP: 32px
}
.footer-list-icon-money-mi {
	BACKGROUND: url(../images/foot/icon_money.png) no-repeat
}
.footer-cen-mi {
	WIDTH: 265px; MARGIN: 0px 38px 0px 0px
}
.footer-menu-mi {
	FONT-SIZE: 14px; MARGIN-BOTTOM: 10px; BORDER-BOTTOM: #464646 1px solid; COLOR: #cecece; PADDING-BOTTOM: 12px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.footer-menu-mi A {
	COLOR: #cecece; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.footer-menu-mi .footer-menu-lnone-mi {
	PADDING-LEFT: 0px
}
.footer-menu-mi .footer-menu-rnone-mi {
	PADDING-RIGHT: 0px
}
.footer-logo-mi {
	MARGIN: 20px 0px
}
.footer-copy-mi {
	WIDTH: 164px; COLOR: #7d7d7d; LINE-HEIGHT: 24px
}
.footer-copy-mi A {
	COLOR: #7d7d7d
}
.footer-right-mi {
	WIDTH: 265px
}
.footer-phone-mi {
	FONT-SIZE: 16px; MARGIN: 30px 0px 0px
}
.footer-icon-phone-mi {
	HEIGHT: 31px; WIDTH: 31px; VERTICAL-ALIGN: middle; BACKGROUND: url(common.png) no-repeat -257px -470px; DISPLAY: inline-block; MARGIN-RIGHT: 10px
}
.footer-num-mi {
	FONT-SIZE: 36px; FONT-FAMILY: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "???��???????????��???????��?????��a???o?��a???|?????????��a????", Arial, sans-serif; COLOR: #e7a041; PADDING-BOTTOM: 8px; PADDING-TOP: 10px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.fl {
	FLOAT: left
}
.public {
	WIDTH: 180px; FLOAT: right
}
.public-pao {
	WIDTH: 140px; PADDING-BOTTOM: 5px; TEXT-ALIGN: center; MARGIN-LEFT: auto; MARGIN-RIGHT: auto; border-radius: 7px; -webkit-border-radius: 7px
}
.public-pao P {
	FONT-SIZE: 16px; HEIGHT: 30px; FONT-WEIGHT: 700; COLOR: #fff; TEXT-ALIGN: center; MARGIN: 0px; LINE-HEIGHT: 30px
}
.public-pao SPAN {
	FONT-SIZE: 12px; HEIGHT: 25px; COLOR: #cecece; LINE-HEIGHT: 25px
}
.public-ewm {
	HEIGHT: 130px; WIDTH: 130px; MARGIN: 0px auto 10px
}
.notice-red {
	COLOR: red
}
.connection {
	WIDTH: 100%; FLOAT: left; PADDING-TOP: 0px; PADDING-LEFT: 0px
}
.gzBox {
	DISPLAY: inline-block
}
.gzBox A {
	OVERFLOW: hidden; DISPLAY: inline-block; TEXT-INDENT: -999px
}
.wixinBox {
	POSITION: relative; DISPLAY: inline-block
}
.wixinBox IMG {
	BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid; POSITION: absolute; BORDER-LEFT: #ddd 1px solid; DISPLAY: none
}
.wixinBox:hover IMG {
	DISPLAY: block
}
.copyRight {
	WIDTH: 100%; BACKGROUND: #2c2c2c; PADDING-BOTTOM: 10px; TEXT-ALIGN: center; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.copyRight A {
	COLOR: #545454
}
.copyRight A:hover {
	COLOR: #cc7832
}
#footerimgs {
	TEXT-ALIGN: center
}
.copyRight .text {
	MARGIN-BOTTOM: 10px; WIDTH: 100%; FLOAT: left; COLOR: #aaa; TEXT-ALIGN: center; LINE-HEIGHT: 35px
}
.copyRight .text SPAN {
	FONT-SIZE: 12px; DISPLAY: inline-block; MARGIN-RIGHT: 20px
}
.copyRight .anquan {
	WIDTH: 100%; FLOAT: right; TEXT-ALIGN: center
}
.copyRight .anquan A {
	OVERFLOW: hidden; TEXT-ALIGN: center; MARGIN-LEFT: 5px
}
.copyRight .anquan A#cxwz {
	BACKGROUND-POSITION: 0px -35px
}
.copyRight .anquan A#cxwz:hover {
	BACKGROUND-POSITION: 0px -35px
}
.copyRight .anquan A#rz360 {
	BACKGROUND-POSITION: -113px -35px
}
.copyRight .anquan A#rz360:hover {
	BACKGROUND-POSITION: -113px -35px
}
.copyRight .anquan A#kxwz {
	BACKGROUND-POSITION: -221px -35px
}
.copyRight .anquan A#kxwz:hover {
	BACKGROUND-POSITION: -221px -35px
}
.hcp-mask-warp {
	HEIGHT: 100%; WIDTH: 100%; POSITION: fixed; LEFT: 0px; Z-INDEX: 2016111013; DISPLAY: none; TOP: 0px
}
.hcp-mask-warp .hcp-mask {
	HEIGHT: 100%; WIDTH: 100%; BACKGROUND: url(../images/opacity.png); POSITION: absolute; LEFT: 0px; Z-INDEX: 2016111014; TOP: 0px; opacity: 0.8
}
.hcp-mask-warp .hcp-mask-img {
	POSITION: absolute; MARGIN-LEFT: -350px; LEFT: 50%; Z-INDEX: 2016111015; TOP: 150px
}
.hcp-mask-warp .closed-mask {
	CURSOR: pointer; HEIGHT: 29px; WIDTH: 34px; BACKGROUND: url(../images/closed.png) no-repeat center 50%; RIGHT: 20px; POSITION: absolute; DISPLAY: block; TOP: 25px; transition: transform 0.5s; -webkit-transition: transform 0.5s; -moz-transition: transform 0.5s; -o-transition: transform 0.5s
}
.hcp-mask-warp .closed-mask:hover {
	transform: rotate(360deg); -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg)
}
.Friendship {
	WIDTH: 100%; FLOAT: left; PADDING-TOP: 15px
}
.Friendship .link-href {
	FLOAT: left; COLOR: #999999
}
.Friendship .link-href UL LI {
	FLOAT: left
}
.Friendship .link-href UL LI A {
	FONT-SIZE: 12px; COLOR: #999999; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.Friendship .openBtn {
	FONT-SIZE: 12px; POSITION: relative; FLOAT: left; COLOR: #999999; TOP: 2px
}
